
/* fonts */
@import 'fonts';

//@import url(bootstrap.min.css);

$font: 'Open Sans', 'sans-serif';
$fontLite: 'Open Sans Condensed','Open Sans', 'sans-serif';
$fontH1: 'catorze27', 'Open Sans', 'sans-serif';

$fontSize: 0.938em;

$color_green: #00ffab;
$color-link: #00b77b;
$color_white_40: rgba(255,255,255,0.4);
$color-footer--text: #004a4a;

html, body{
	font-family: $font;
	// font-weight: 400;
	background-color: transparent;
	font-size: 100%;
}

html{
	min-height: 100%;
	background:
	url('../img/p/tree.png') left 60px no-repeat,
	url('../img/pr/top_leaves.png') right 101px no-repeat,
	url('../img/pr/back_leaves_2.png') right 512px no-repeat,
	url("../img/index-bg.jpg") top center no-repeat,
	#030e14;
	// height: 1600px;
}


.index--logo{
	width: 100%;
	text-align: center;
	margin-top: 86px;
	margin-bottom: 150px;
	a{
		outline: none;
	}
	img{
		z-index: 5;
		position: relative;
	}
}

.paralax{
	position: absolute;
	top: 0px;
	width: 100%;
	// margin: 0 auto;
	.right{
		position: absolute;
		right: 0px;
		top: 60px;
		width: 500px;
		height: 500px;
		//background: #eee;
		div{
			position: absolute;
		}

		.eye1{
			background: url('../img/pr/eyes_1.png') left top no-repeat;
			width: 311px;
			height: 200px;
			z-index: 1;
			top: 720px;
			right: 100px;
		}
		.eye2{
			background: url('../img/pr/eyes_2.png') left top no-repeat;
			width: 311px;
			height: 200px;
			z-index: 1;
			top: 920px;
			right: 0;
			opacity: 0;
		}
		.bat{
			background: url('../img/bat.png') left top no-repeat;
			width: 237px;
			height: 116px;
			z-index: 1;
			top: 100px;
			right:270px;
			opacity: 1;
		}
	}
	.left{
		position: absolute;
		left: 0;
		top: 41px;
		div{
			position: absolute;
		}

		.face{
			background: url('../img/p/face.png') left top no-repeat;
			width: 230px;
			height: 247px;
			z-index: -2;
			margin-left: 190px;
			top:660px;
		}
	}
}


.content-zone{
	min-height: 300px;
	width: 100%;
	p{

	}
	ul,ol{
		li{

		}
	}
	table{
		tr{
			td{

			}
		}
	}
	h1{

	}
	h2{

	}
	h3{

	}
	h4{

	}
}

.vacansy{
	text-align: left;
	padding-top: 15px;
	padding-left: 15px;
	// border-bottom: 1px solid rgba(255,255,255,0.2);
	a{
		color: rgba(255,255,255,0.5);
		font-size: 13*0.063em;
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		outline: none;
		span{
			color: $color_green;
			display: inline-block;
			font-size: 0.9em;
			margin-right: 5px;
		}
	}
	a:hover{
		color: $color_green;
	}
	.modal.vacant{
		padding-right: 0px!important;
		//width: 100%;
		.modal-big{
			width: 100%;
			margin:0px!important;
			padding: 0px;
			border-radius: 0px;
			min-height: 100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,011334+100 */
			// background: #1e5799; /* Old browsers */
			// background: -moz-radial-gradient(center, ellipse cover,  #1e5799 0%, #011334 100%); /* FF3.6+ */
			// background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(100%,#011334)); /* Chrome,Safari4+ */
			// background: -webkit-radial-gradient(center, ellipse cover,  #1e5799 0%,#011334 100%); /* Chrome10+,Safari5.1+ */
			// background: -o-radial-gradient(center, ellipse cover,  #1e5799 0%,#011334 100%); /* Opera 12+ */
			// background: -ms-radial-gradient(center, ellipse cover,  #1e5799 0%,#011334 100%); /* IE10+ */
			// background: radial-gradient(ellipse at center,  #1e5799 0%,#011334 100%); /* W3C */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#011334',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010c23+0,010f2a+35,011130+50,010f2a+65,010c23+100 */
			background: #010c23; /* Old browsers */
			background: -moz-linear-gradient(left,  #010c23 0%, #010f2a 35%, #011130 50%, #010f2a 65%, #010c23 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#010c23), color-stop(35%,#010f2a), color-stop(50%,#011130), color-stop(65%,#010f2a), color-stop(100%,#010c23)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #010c23 0%,#010f2a 35%,#011130 50%,#010f2a 65%,#010c23 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #010c23 0%,#010f2a 35%,#011130 50%,#010f2a 65%,#010c23 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #010c23 0%,#010f2a 35%,#011130 50%,#010f2a 65%,#010c23 100%); /* IE10+ */
			background: linear-gradient(to right,  #010c23 0%,#010f2a 35%,#011130 50%,#010f2a 65%,#010c23 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010c23', endColorstr='#010c23',GradientType=1 ); /* IE6-9 */
		.continue-form{
				padding-top: 185px;
				padding-bottom: 100px;
				text-align: left;
				margin-left: -5px;

				.close{
					text-align: center;
					display: inline-block;
					position: absolute;
					font-family: $fontH1;
					font-size: 18*0.063em;
					color: #fff;
					text-shadow: none;
					opacity: 1;
					text-transform: uppercase;
					top: -95px;
					right: -130px;
					img{
						position: relative;
						top: -1px;
						right: 10px
					}
				}

				h1{
					font-size: 46*0.063em;
					color: $color_green;
					font-family: $fontH1;
					text-transform: uppercase;
					margin-bottom: 60px;
				}
				h2{
						font-family: $fontH1;
					font-size: 46*0.063em;
					color: #fff;
					font-weight: bold;
					margin-bottom: 15px;
					text-align: left;
					display: block;

					span{
						font-size: 0.7em;
						color: $color_green;
						// float: left;
						display: inline-block;
						margin-right: 150px;

					}
					i{
						font-size: 0.63em;
						font-style: normal;
						// float: right;
						text-align: left;
						display: inline-block;
						// width: 50%;
						position: relative;
						top: 0px;
					}
				}
				h3{
					font-family: $fontH1;
					color: $color_green;
					font-size: 32*0.063em;
					font-weight: bold;
					margin-bottom: 15px;
					text-align: left;
					display: block;
				}
				p{
					margin:0 auto;
					// width: 80%;
					color: #fff;
					margin-bottom: 10px;
					font-size: 14*0.063em;
					strong{
						color: $color_green;
					}

					a{
						font-family: $font;
						font-size: 1em;
						text-transform: none;
						color: $color_green;
					}
					a:hover{
						opacity: 0.8;
					}
				}
				ul{

					li{
						font-size: 14*0.063em;
						color: #fff;
					}
				}
			}
		}
	}

}

.content-zone--promo{
	position: relative;
	// z-index: 1;
	text-align: center;
	p{
		font-size: 16*0.063em;
		color: #fff;
		line-height: 22px;
		// margin-bottom: 25px;
		span{
			text-transform: uppercase;
			color: $color_green;
		}
	}
	form{
		margin-top: 50px;

		p{
			margin-bottom: 15px;
			// position: relative;
			// z-index: 10;
		}

		input[type="text"]{
			background: transparent;
			border: 1px solid rgba(255, 255, 255, 0.3);
			font-size: 13*0.063em;
			font-family: $font;
			padding: 5px 15px;
			width: 240px;
			margin-left: 15px;
			margin-right: 15px;
			outline:none;
			margin-bottom: 15px;
		}
		input[type="text"].error{
			border-color: #DF0025;
		}
		input[type="submit"],
		button{
			background: $color_green;
			border: 1px solid $color_green;
			border-radius: 5px;
			color: #010f2b;
			font-size: 17*0.063em;
			font-weight: 600;
			outline:none;
			padding: 8px 29px;
			margin-top: 20px;
			// position: relative;
			// z-index: 5;
		}
		input[type="submit"]:hover,
		button:hover
		{
			background: #7BFFD4;
			border-color: #7BFFD4;
		}
	}

	.modal.questions{
		padding-right: 0px!important;
		//width: 100%;
		.modal-big{
			width: 100%;
			margin:0px!important;
			padding: 0px;
			border-radius: 0px;
			min-height: 100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,011334+100 */
			// background: #1e5799; /* Old browsers */
			// background: -moz-radial-gradient(center, ellipse cover,  #1e5799 0%, #011334 100%); /* FF3.6+ */
			// background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(100%,#011334)); /* Chrome,Safari4+ */
			// background: -webkit-radial-gradient(center, ellipse cover,  #1e5799 0%,#011334 100%); /* Chrome10+,Safari5.1+ */
			// background: -o-radial-gradient(center, ellipse cover,  #1e5799 0%,#011334 100%); /* Opera 12+ */
			// background: -ms-radial-gradient(center, ellipse cover,  #1e5799 0%,#011334 100%); /* IE10+ */
			// background: radial-gradient(ellipse at center,  #1e5799 0%,#011334 100%); /* W3C */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#011334',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010c23+0,010f2a+35,011130+50,010f2a+65,010c23+100 */
			background: #010c23; /* Old browsers */
			background: -moz-linear-gradient(left,  #010c23 0%, #010f2a 35%, #011130 50%, #010f2a 65%, #010c23 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#010c23), color-stop(35%,#010f2a), color-stop(50%,#011130), color-stop(65%,#010f2a), color-stop(100%,#010c23)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #010c23 0%,#010f2a 35%,#011130 50%,#010f2a 65%,#010c23 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #010c23 0%,#010f2a 35%,#011130 50%,#010f2a 65%,#010c23 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #010c23 0%,#010f2a 35%,#011130 50%,#010f2a 65%,#010c23 100%); /* IE10+ */
			background: linear-gradient(to right,  #010c23 0%,#010f2a 35%,#011130 50%,#010f2a 65%,#010c23 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010c23', endColorstr='#010c23',GradientType=1 ); /* IE6-9 */



			.continue-form{
				padding-top: 185px;
				padding-bottom: 100px;
				text-align: center;
				margin-left: -5px;

				.close{
					text-align: center;
					display: inline-block;
					position: absolute;
					font-family: $fontH1;
					font-size: 18*0.063em;
					color: #fff;
					text-shadow: none;
					opacity: 1;
					text-transform: uppercase;
					top: -95px;
					right: -130px;
					img{
						position: relative;
						top: -1px;
						right: 10px
					}
				}

				h1{
					font-size: 46*0.063em;
					color: $color_green;
					font-family: $fontH1;
					text-transform: uppercase;
					margin-bottom: 60px;
				}
				h2{
					font-size: 46*0.063em;
					color: #fff;
					font-weight: bold;
					margin-bottom: 15px;
				}
				p{
					margin:0 auto;
					width: 80%;
					margin-bottom: 30px;
				}
				// text-align: center;
				.answer{
					position: relative;
					left: -10px;
					display: inline-block;
					margin:0 auto;
					padding-bottom: 50px;
					// width: 100%;
					text-align: center;
					label{
						display: inline-block;
						width: 100%;
					}

				}
				.answer-2{
					column-count: 2;
					-webkit-column-count: 2;
					-webkit-column-width: 100px;
					-moz-column-count: 2;
					-webkit-column-gap:1em;
					-moz-column-gap:1em;
					text-align: left;
					vertical-align: top;

					// span{
					// 	margin-bottom: 20px;
					// }

					label{
						display: block;
						    min-height: 20px;
						width: 100%;
					}
				}

				label{
					margin-bottom: 10px;
				}

				input[type="radio"]{
					width: 16px;
					height: 16px;
					overflow: hidden;
					margin: 0;
					padding: 0;
					outline: none;
					opacity: 0;
					display: none;
				}
				label{
					display: inline-block;
					text-align: left;
					color: #fff;
					font-size: 13*0.063em;
					font-family: $font;
					cursor: pointer;
					span{
						font-weight: normal;
						display: inline-block;
						float: left;
						position: relative;
						padding-left: 30px;
						height: 25px;

					}
				}
				input[type="radio"] + span:before{
					content: "";
					display: inline-block;
					width: 16px;
					height: 16px;
					background: url('../img/sprite--radio-check.png') top left no-repeat;
					position: absolute;
					top: 1px;
					margin-right: 0px;
					left: 6px;
				}
				input[type="radio"]:checked + span:before {
					background-position: -16px 0px;
				}

				.send{
					margin-top: 0px;
				}

			}
		}
	}


	h1{
		color: #fff;
		font-family: $fontH1;
		text-transform: uppercase;
		font-size: 46*0.063em;
		margin-top: 0px;
		margin-bottom: 25px;
	}
}



footer{
	position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 418px;
	text-align: center;
	font-size: 13*0.063em;
	color: $color-footer--text;
	// z-index: -1;

	.fog-1{
		background: url("../img/footer-fog1.png") bottom center repeat-x;
		width: 100%;
		height: 418px;
		position: absolute;
		z-index: 3;
	}
	.fog-2{
		background: url("../img/footer-fog2.png") bottom center repeat-x;
		width: 100%;
		height: 418px;
		position: absolute;
		z-index: 2;
	}

	.safe{
		background: url('../img/safe.png') top center no-repeat;
		width: 268px;
		height: 306px;
		position: absolute;
		z-index: 1;
	    left: 67%;
	        top: 80px;
	}

	.container{
		position: relative;
		z-index: 4;
		top: 362px;
	}

	a,
	a:hover,
	a:active{
		color: $color-link;
	}
	.shared{
		text-transform: uppercase;
		position: relative;
		top: -30px;
		color:#000a0a;
		text-align: center;
		.span{
			display: block;
		}
	}
}

@media (max-width: 1300px) {
	html{
		min-height: 100%;
		background:
		url('../img/p/tree.png') -15% 60px no-repeat,
		url('../img/pr/top_leaves.png') 115% 101px no-repeat,
		url('../img/pr/back_leaves_2.png') 115% 512px no-repeat,
		url("../img/index-bg.jpg") top center no-repeat;
	}
}

@media (max-width: 960px) {
	html{
		min-height: 100%;
		background:url("../img/index-bg.jpg") top center no-repeat;
	}
	.modal.questions{
		padding-right: 0px!important;
		//width: 100%;
		.modal-big{
			.continue-form{
				padding-top: 86px!important;
				text-align: center;

				.close{
					text-align: center;
					display: inline-block;
					position: absolute;
					font-family: $fontH1;
					color: #fff;
					text-shadow: none;
					opacity: 1;
					text-transform: uppercase;
					top: -60px!important;
					right: -0px!important;
					font-size: 0px!important;
					img{
						position: relative;
						top: -1px;
						right: -10px!important;
					}
				}
				p{
					width: 100%!important;
				}
				.answer{
					span{
						margin-bottom: 5px;
						display: block!important;
						height: inherit!important;
					}
				}
				.answer-2{
					column-count: initial!important;
					-webkit-column-count:initial!important;
					-moz-column-count:initial!important;
					-webkit-column-gap:initial!important;
					-moz-column-gap:initial!important;
					text-align: left;
					vertical-align: top;

					label{
						display: block;
						width: 100%;
					}
					span{
						margin-bottom: 20px;
					}
				}
			}
		}
	}
	.vacansy{
		.modal.vacant{
			// padding-right: 0px!important;
			//width: 100%;
			.modal-big{
				.continue-form{
						padding-top: 185px;
						padding-bottom: 100px;
						text-align: left;
						margin-left: -5px;

						.close{
							text-align: center;
							display: inline-block;
							position: absolute;
							font-family: $fontH1;
							color: #fff;
							text-shadow: none;
							opacity: 1;
							text-transform: uppercase;
							top: -60px!important;
							right: -0px!important;
							font-size: 0px!important;
							img{
								position: relative;
								top: -1px;
								right: -10px!important;
							}
						}
					}
				}
			}
		}
		.vacansy .modal.vacant .modal-big .continue-form h2 span{
			margin-right: 0px;
		}
		.vacansy .modal.vacant .modal-big .continue-form{
			padding-top: 60px;
		}
}
@media (max-width: 360px) {
	.index--logo{
		margin-top: 50px;
		margin-bottom: 50px;
		img{
			width: 100%;
		}
	}
}
@media (max-width: 500px) {
	.index--logo{
		margin-top: 50px;
		margin-bottom: 50px;
		img{
			width: 100%;
		}
	}
}


@media (max-height: 1080px) {
	footer{
		position: relative!important;
	}
}
@media (max-height: 770px) {
	.paralax .left .face{
		height: 0px;
	}
}

