@font-face {
    font-family: 'catorze27';
    src: url('../fonts/catorze27style1-black-webfont.eot');
    }



/* Rub */
@font-face {
    font-family: 'ruble';
    src: url(../fonts/ruble/rouble-webfont.eot);
    src: url(../fonts/ruble/rouble-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/ruble/rouble-webfont.woff2)format("woff2"),url(../fonts/ruble/rouble-webfont.woff)format("woff"),url(../fonts/ruble/rouble-webfont.ttf)format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'catorze27';
    src: url('../fonts/catorze27style1-black-webfont.woff') format('woff2'),
         url('../fonts/catorze27style1-black-webfont.woff2') format('woff'),
         url('../fonts/catorze27style1-black-webfont.ttf') format('truetype'),
         url('../fonts/catorze27style1-black-webfont.svg#catorze27_style_1black') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}

/* font-family: "Open Sans"; */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot");
    src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.woff") format("woff"),
    url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}