@charset "UTF-8";
#loader { display: block; position: fixed; width: 100%; height: 100%; background: #08152f; z-index: 1000; text-align: center; }
#loader div { width: 100px; height: 100px; overflow: hidden; display: block; position: relative; width: 100px; height: 100px; margin: calc(50vh - 100px) auto 0 auto; }
#loader div #friday { overflow: hidden; display: block; position: relative; width: 100px; height: 100px; margin: 0; background-image: url("../img/loader.png"); z-index: 3; }
#loader div #blood { position: relative; width: 100px; margin-top: -148px; background-color: red; margin: 0; height: 200px; z-index: 2; top: -100px; border-top: 100px solid #fff; }

/* fonts */
@font-face { font-family: 'catorze27'; src: url("../fonts/catorze27style1-black-webfont.eot"); }
/* Rub */
@font-face { font-family: 'ruble'; src: url(../fonts/ruble/rouble-webfont.eot); src: url(../fonts/ruble/rouble-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/ruble/rouble-webfont.woff2) format("woff2"), url(../fonts/ruble/rouble-webfont.woff) format("woff"), url(../fonts/ruble/rouble-webfont.ttf) format("truetype"); font-weight: 400; font-style: normal; }
@font-face { font-family: 'catorze27'; src: url("../fonts/catorze27style1-black-webfont.woff") format("woff2"), url("../fonts/catorze27style1-black-webfont.woff2") format("woff"), url("../fonts/catorze27style1-black-webfont.ttf") format("truetype"), url("../fonts/catorze27style1-black-webfont.svg#catorze27_style_1black") format("svg"); font-weight: normal; font-style: normal; }
/* font-family: "OpenSansRegular"; */
@font-face { font-family: "Open Sans"; src: url("../fonts/OpenSansRegular/OpenSansRegular.eot"); src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* font-family: "OpenSansLight"; */
@font-face { font-family: "Open Sans"; src: url("../fonts/OpenSansLight/OpenSansLight.eot"); src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype"); font-style: normal; font-weight: 300; }
/* font-family: "OpenSansItalic"; */
@font-face { font-family: "Open Sans"; src: url("../fonts/OpenSansItalic/OpenSansItalic.eot"); src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype"); font-style: italic; font-weight: normal; }
/* font-family: "OpenSansBold"; */
@font-face { font-family: "Open Sans"; src: url("../fonts/OpenSansBold/OpenSansBold.eot"); src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype"); font-style: normal; font-weight: bold; }
/* font-family: "OpenSansBoldItalic"; */
@font-face { font-family: "Open Sans"; src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot"); src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype"); font-style: italic; font-weight: bold; }
/* font-family: "Open Sans"; */
@font-face { font-family: "Open Sans"; src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot"); src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype"); font-style: normal; font-weight: 600; }
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face { font-family: "Open Sans"; src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot"); src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype"); font-style: italic; font-weight: 600; }
@font-face { font-family: "Open Sans Condensed"; src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot"); src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.woff") format("woff"), url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.ttf") format("truetype"); font-style: normal; font-weight: normal; }
html, body { font-family: "Open Sans", "sans-serif"; background-color: transparent; font-size: 100%; }

html { min-height: 100%; }

body { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010c26+0,011130+35,011130+65,010a1d+100 */ background: #010c26; /* Old browsers */ background: -moz-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right top, color-stop(0%, #010c26), color-stop(35%, #011130), color-stop(65%, #011130), color-stop(100%, #010a1d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); /* IE10+ */ background: linear-gradient(to right, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#010c26', endColorstr='#010a1d',GradientType=1 ); /* IE6-9 */ }

body.page--index { background: #030e14 url("../img/index-bg.jpg") top center no-repeat; }

i.rub { font-family: 'ruble'; font-style: normal; text-transform: none !important; }

.header-top { border-bottom: 1px solid rgba(255, 255, 255, 0.15); height: 40px; }
.header-top .container { padding-right: 0px; }
.header-top .container .regions { width: 190px; }
.header-top .container .regions .cit-list { display: none; position: absolute; z-index: 9999; top: 24px; width: 163px; background-color: #0D1C39; padding: 5px 5px 10px 5px; border: 1px solid rgba(255, 255, 255, 0.3); border-radius: 1px; text-align: center; }
.header-top .container .regions .cit-list p { display: block; margin-bottom: 0px; padding: 6px 10px; }
.header-top .container .regions .cit-list p a { color: #fff; text-decoration: none; border-bottom: 1px dotted; transition: all 0.3s ease; }
.header-top .container .regions .cit-list p a:hover { color: #00ffab; }
.header-top .container .regions .cit-list:before { content: ""; width: 0; height: 0; border-style: solid; border-width: 0 5px 5px 5px; border-color: transparent transparent rgba(255, 255, 255, 0.3) transparent; display: block; position: absolute; top: -6px; left: calc(50% - 10px); }

.navbar .regions { position: relative; display: inline-block; font-size: 0.756em; color: rgba(255, 255, 255, 0.4); text-transform: uppercase; left: -30px; top: -8px; }
.navbar .regions span { text-transform: uppercase; color: #00ffab; cursor: pointer; font-size: 1em; border-bottom: 1px dotted; }
.navbar .regions:before { content: ""; display: block; position: absolute; width: 10px; height: 14px; top: 1px; left: -14px; background: url("../img/header--pin.png"); }
.navbar .navigation-top { display: inline-block; margin-left: -68px; top: -8px; position: relative; }
.navbar .navigation-top li { display: inline-block; }
.navbar .navigation-top li a { color: rgba(255, 255, 255, 0.4); font-size: 0.756em; text-transform: uppercase; margin-left: 7px; margin-right: 7px; transition: all 0.3s ease; }
.navbar .navigation-top li a:hover { text-decoration: none; color: #00ffab; }
.navbar .navigation-top li.active a { color: #00ffab; }
.navbar .social li { display: inline-block; margin-left: 4px; }
.navbar .social li a { display: block; width: 23px; height: 22px; transition: all 0.3s ease; }
.navbar .social li a svg { fill: #676e7e; width: 22px; height: 22px; transition: all 0.3s ease; }
.navbar .social li a:hover svg { fill: #fff; }
.navbar .social--right { float: right !important; margin-right: 15px; top: -8px; position: relative; }

.index--logo { text-align: center; margin-top: 40px; margin-bottom: 30px; }

.content-zone.rating-search .container { padding-left: 0px; padding-right: 0px; }
.content-zone.rating-search h2 { text-align: center; font-family: "Open Sans", "sans-serif"; color: #fff; margin-top: 45px; margin-bottom: -5px; text-transform: none; font-size: 1.134em; }
.content-zone.rating-search .actio { text-align: center; font-style: italic; font-weight: 400; color: #00ffab; font-size: 1.134em; display: block; margin-bottom: 35px; margin-top: -15px; }
.content-zone.rating-search .actio a { color: #fff; text-decoration: underline; }
.content-zone.rating-search .actio a:hover { text-decoration: none; }
.content-zone.rating-search .star { border-top: 1px solid rgba(255, 255, 255, 0.4); padding-top: 20px; margin-top: 20px; }
.content-zone.rating-search .star p { margin-bottom: 3px; font-weight: 400; }
.content-zone.rating-search .green { color: #00ffab; }
.content-zone.rating-search h2 + p { font-size: 1.1em; text-align: center; margin-top: 10px; }
.content-zone.rating-search em { color: rgba(255, 255, 255, 0.5); font-weight: 400; text-align: center; }
.content-zone.rating-search em a { text-decoration: underline; color: rgba(255, 255, 255, 0.5); }
.content-zone.rating-search em a:hover { color: #00ffab; }
.content-zone.rating-search .table th { vertical-align: middle; }
.content-zone.rating-search .table th:nth-child(3) { width: 20%; }
.content-zone.rating-search .table th, .content-zone.rating-search .table td { padding-left: 15px; padding-top: 15px; padding-bottom: 15px; padding-right: 15px; }
.content-zone.rating-search .table .find td { background: #00ffab; }
.content-zone.rating-search .table tr td:last-child { color: #00ffab; }
.content-zone.rating-search .form { margin-top: 50px; margin-bottom: -25px; }
.content-zone.rating-search .form input[type="text"], input[type="text"] { margin-left: 15px; width: 200px; font-style: italic; }
.content-zone.rating-search .form input[type="submit"] { display: inline-block; position: absolute; background: url("../img/ico-rating-magn.png") top center no-repeat; width: 22px; height: 22px; margin: 0; border: none; padding: 0; margin-left: -50px; margin-top: 5px; }
.content-zone.rating-search .form input[type="submit"]:active { box-shadow: none; }
.content-zone.rating-search .show-more { display: inline-block; position: relative; color: #00ffab; outline: none; margin-bottom: 35px; }
.content-zone.rating-search .show-more:hover, .content-zone.rating-search .show-more:active, .content-zone.rating-search .show-more:visited { text-decoration: none; }
.content-zone.rating-search .show-more:before { content: ""; display: inline-block; position: relative; background: url("../img/ico-rating-refresh.png") top left no-repeat; width: 30px; height: 34px; margin-right: 10px; top: 10px; }

@media (max-width: 1200px) { .social.social--right { margin-left: 0px; padding-left: 0px; margin-right: 0px; } }
@media (max-width: 767px) { .social.social--right { margin-left: 0px; padding-left: 30px; margin-right: 0px; } }
@media (max-width: 768px) { .content-zone.rating-search { padding-left: 0px; padding-right: 0px; }
  .content-zone.rating-search .table th { vertical-align: middle; font-size: 0.819em; }
  .content-zone.rating-search .table th, .content-zone.rating-search .table td { text-align: center; }
  .content-zone.rating-search .table th, .content-zone.rating-search .table td { padding-left: 0px; padding-top: 15px; padding-bottom: 15px; padding-right: 0px; }
  .content-zone.rating-search .table th:nth-child(3) { width: 20%; }
  .content-zone.rating-search .form { margin-top: 50px; }
  .content-zone.rating-search .form input[type="text"] { margin-left: 0px; margin-top: 15px; }
  .content-zone.rating-search .form input[type="submit"] { margin-top: 20px; } }
.content-zone { min-height: 300px; }
.content-zone p { font-family: "Open Sans", "sans-serif"; font-weight: 600; color: #fff; font-size: 0.819em; line-height: 20px; margin-bottom: 10px; }
.content-zone ul, .content-zone ol { padding-left: 20px; margin-top: 20px; margin-bottom: 20px; }
.content-zone ul li, .content-zone ol li { font-family: "Open Sans", "sans-serif"; font-size: 0.819em; color: #fff; font-weight: 600; line-height: 25px; }
.content-zone .table { margin-top: 30px; margin-bottom: 30px; }
.content-zone .table tr th { font-size: 1.134em; color: #fff; font-weight: 600; padding-left: 30px; padding-top: 15px; padding-bottom: 15px; padding-right: 30px; border: 0px; }
.content-zone .table tr td { padding-left: 30px; padding-top: 15px; padding-bottom: 15px; padding-right: 30px; font-size: 0.819em; color: #fff; }
.content-zone .table tr:nth-child(even) { background: rgba(255, 255, 255, 0.05); }
.content-zone .table tr:nth-child(even) td { border-top: 1px solid #3e4a62; border-bottom: 1px solid #3e4a62; }
.content-zone h1, .content-zone h2, .content-zone h3, .content-zone h4 { font-family: "catorze27", "Open Sans", "sans-serif"; color: #00ffab; text-transform: uppercase; margin-bottom: 30px; }
.content-zone h1 { font-size: 2.898em; }
.content-zone h2 { font-size: 2.394em; }
.content-zone h3 { font-size: 2.016em; }
.content-zone h4 { font-size: 1.638em; }
.content-zone .center { text-align: center; margin-top: 50px; margin-bottom: 20px; }
.content-zone .form { margin-top: 20px; }
.content-zone .form input[type="text"], input[type="text"] { color: #fff; background: #051226; border: 1px solid rgba(255, 255, 255, 0.3); font-size: 1em; font-family: "Open Sans", "sans-serif"; padding: 5px 15px; width: 240px; margin-right: 15px; font-weight: normal; outline: none; margin-bottom: 15px; }
.content-zone .form input[type="radio"], .content-zone .form input[type="checkbox"] { width: 16px; height: 16px; overflow: hidden; margin: 0; padding: 0; outline: none; opacity: 0; display: none; }
.content-zone .form label { display: inline-block; text-align: left; color: #fff; font-size: 0.85em; font-family: "Open Sans", "sans-serif"; cursor: pointer; padding: 5px 0px 5px 3px; }
.content-zone .form label span { font-weight: normal; display: inline-block; float: left; position: relative; padding-left: 30px; height: 25px; }
.content-zone .form input[type="radio"] + span:before { content: ""; display: inline-block; width: 16px; height: 16px; background: url("../img/sprite--radio-check.png") top left no-repeat; position: absolute; top: 1px; margin-right: 0px; left: 6px; }
.content-zone .form input[type="radio"]:checked + span:before { background-position: -16px 0px; }
.content-zone .form input[type="checkbox"] + span:before { content: ""; display: inline-block; width: 16px; height: 16px; background: url("../img/sprite--radio-check.png") bottom left no-repeat; position: absolute; top: 1px; margin-right: 0px; left: 6px; }
.content-zone .form input[type="checkbox"]:checked + span:before { background-position: -16px -16px; width: 18px; }
.content-zone input[type="submit"] { background: #4a83c0; border: 1px solid #4a83c0; border-radius: 5px; color: #fff; font-size: 1.071em; font-weight: 400; outline: none; padding: 7px 26px; margin-top: 20px; }
.content-zone input[type="submit"]:hover { background: #3267A0; border-color: #3267A0; }
.content-zone input[type="submit"]:active { box-shadow: 0px 2px 5px #1A508A inset; border-color: #1A508A; }

@media (max-width: 768px) { .content-zone .table { margin-top: 30px; margin-bottom: 30px; }
  .content-zone .table tr th, .content-zone .table tr td { padding-left: 0px; padding-right: 0px; } }
.paralax { position: absolute; top: 0px; width: 100%; }
.paralax .right { position: absolute; right: 0px; top: 60px; width: 500px; height: 500px; }
.paralax .right div { position: absolute; }
.paralax .right .top_leaves { background: url("../img/pr/top_leaves.png") left top no-repeat; width: 320px; height: 885px; z-index: 4; right: 0; }
.paralax .right .mid_leaves { background: url("../img/pr/mid_leaves.png") left top no-repeat; width: 352px; height: 757px; z-index: 3; top: 452px; right: 0; }
.paralax .right .fogs { background: url("../img/pr/fog.png") left top no-repeat; width: 868px; height: 1455px; z-index: 2; top: 400px; right: 0; }
.paralax .right .top_leaves_2 { background: url("../img/pr/back_leaves_2.png") left top no-repeat; width: 311px; height: 948px; z-index: 1; top: 720px; right: 0; }
.paralax .right .eye1 { background: url("../img/pr/eyes_1.png") left top no-repeat; width: 311px; height: 200px; z-index: 1; top: 720px; right: 100px; }
.paralax .right .eye2 { background: url("../img/pr/eyes_2.png") left top no-repeat; width: 311px; height: 200px; z-index: 1; top: 920px; right: 0; opacity: 0; }
.paralax .right .bat { background: url("../img/bat.png") left top no-repeat; width: 237px; height: 116px; z-index: 1; top: 100px; right: 270px; opacity: 1; }
.paralax .left { position: absolute; left: 0; top: 41px; }
.paralax .left div { position: absolute; }
.paralax .left .tree { background: url("../img/p/tree.png") left top no-repeat; width: 348px; height: 1197px; z-index: 4; left: 0; }
.paralax .left .branch { background: url("../img/p/branch.png") left top no-repeat; width: 340px; height: 246px; z-index: 3; margin-left: 90px; top: 660px; }
.paralax .left .fog { background: url("../img/p/fog.png") left top no-repeat; width: 766px; height: 989px; z-index: 2; margin-left: 0px; top: 760px; }
.paralax .left .face { background: url("../img/p/face.png") left top no-repeat; width: 230px; height: 247px; z-index: 1; margin-left: 190px; top: 660px; }

.menu-zone { margin-bottom: 25px; text-align: center; z-index: 999; position: relative; }
.menu-zone li:last-child:after { display: none; }
.menu-zone li:after { content: ""; display: inline-block; position: relative; padding-right: 29px; }
.menu-zone li { display: inline-block; margin-left: -5px; border-bottom: 1px solid #475267; padding-bottom: 13px; }
.menu-zone li a { font-size: 0.945em; color: #fff; text-transform: uppercase; font-family: "Open Sans Condensed", "Open Sans", "sans-serif"; letter-spacing: 2px; text-decoration: none; padding-right: 15px; padding-bottom: 14px; }
.menu-zone li a svg { width: 32px; height: 32px; fill: #fff; position: relative; top: 3px; margin-right: 5px; }
.menu-zone .active a { color: #00ffab; border-bottom: 5px solid; padding-bottom: 12px; }
.menu-zone .active a svg { fill: #00ffab; }

.quest-zone { position: relative; z-index: 90; }
.quest-zone .filter.container { text-align: center; margin-bottom: 40px; }
.quest-zone .filter.container ul { display: inline-block; border: 1px solid rgba(255, 255, 255, 0.22); background-color: rgba(255, 255, 255, 0.11); padding: 0; border-radius: 5px; margin-bottom: 0px; }
.quest-zone .filter.container ul li { display: inline-block; }
.quest-zone .filter.container ul li a { outline: none; display: inline-block; font-size: 0.819em; color: rgba(255, 255, 255, 0.7); padding: 10px 15px; }
.quest-zone .filter.container ul li a.active { background: rgba(255, 255, 255, 0.15); border-radius: 4px; color: rgba(0, 255, 171, 0.7); }
.quest-zone .filter.container ul li a:hover, .quest-zone .filter.container ul li a:active, .quest-zone .filter.container ul li a:focus, .quest-zone .filter.container ul li a:visited { text-decoration: none; }
.quest-zone .container { padding-left: 0px; }
.quest-zone .row { margin: 0 auto; }
.quest-zone .quest { width: 300px; text-align: center; margin-bottom: 50px; position: relative; cursor: pointer; }
.quest-zone .quest img { width: 100%; height: 100%; max-height: 417px; max-width: 300px; border-radius: 6px; }
.quest-zone .quest .inner span, .quest-zone .quest .inner h1, .quest-zone .quest .inner p { position: absolute; top: 0; }
.quest-zone .quest .inner .people { top: 25px; left: 58px; font-size: 1.134em; color: #fff; font-family: "catorze27", "Open Sans", "sans-serif"; text-shadow: 0px 1px 1px #666; }
.quest-zone .quest .inner .people:before { content: ""; display: inline-block; position: absolute; background: url("../img/quest-ico--people.png") left top no-repeat; width: 20px; height: 15px; left: -30px; top: 4px; }
.quest-zone .quest .inner .diff { top: 49px; left: 58px; font-size: 1.134em; color: #fff; font-family: "catorze27", "Open Sans", "sans-serif"; text-shadow: 0px 1px 1px #666; }
.quest-zone .quest .inner .diff--child:before { content: ""; display: inline-block; position: absolute; background: url("../img/quest-ico-diff--child.png") left top no-repeat; width: 32px; height: 32px; left: -35px; top: 0px; }
.quest-zone .quest .inner .diff--simple:before { content: ""; display: inline-block; position: absolute; background: url("../img/quest-ico-diff--simple.png") left top no-repeat; width: 32px; height: 32px; left: -30px; top: 0px; }
.quest-zone .quest .inner .diff--hard:before { content: ""; display: inline-block; position: absolute; background: url("../img/quest-ico-diff--hard.png") left top no-repeat; width: 32px; height: 32px; left: -30px; top: 0px; }
.quest-zone .quest .inner .flaer { top: 30px; right: 15px; background: url("../img/quest-flaer.png") top right no-repeat; width: 136px; height: 45px; color: #000; font-family: "catorze27", "Open Sans", "sans-serif"; font-size: 1em; text-transform: uppercase; text-align: center; padding-left: 18px; padding-top: 7px; }
.quest-zone .quest .inner .with-back { position: absolute; top: 245px; background: rgba(0, 0, 0, 0.4); width: 270px; height: 175px; left: 15px; }
.quest-zone .quest .inner .with-back h1 { position: relative; top: 0px; left: 15px; font-family: "catorze27", "Open Sans", "sans-serif"; color: #fff; font-size: 1.764em; text-align: left; margin-bottom: 5px; }
.quest-zone .quest .inner .with-back p { left: 15px; padding-right: 30px; position: relative; font-size: 0.819em; color: #fff; text-align: left; height: 55px; overflow: hidden; }
.quest-zone .quest .inner .with-back .adress { position: relative; color: #fff; font-size: 0.819em; font-weight: 400; text-align: center; display: block; margin-bottom: 5px; border-top: 1px dotted; padding-top: 5px; }
.quest-zone .quest .inner .with-back .phone { display: inline-block; position: relative; color: #fff; font-size: 0.819em; font-weight: 400; left: 15px; text-align: left; float: left; }
.quest-zone .quest .inner .with-back .email { display: inline-block; position: relative; color: #fff; float: right; font-size: 0.819em; font-weight: 400; right: 15px; text-align: right; }
.quest-zone .quest .inner .with-back .email a { color: #fff; }

@media (max-width: 1200px) { .timing-zone .date-choise-desktop { margin-left: -15px !important; margin-top: -35px; } }
.timing-zone { padding-bottom: 90px; }
.timing-zone .content-zone h1 { color: #fff; text-align: center; margin-bottom: 10px; }
.timing-zone .content-zone h4 { text-align: center; margin-top: 30px; margin-bottom: 20px; }
.timing-zone .content-zone p { font-weight: normal; font-size: 1.134em; text-align: center; }
.timing-zone .content-zone .no-padding { padding-left: 0px; padding-right: 0px; margin-left: -15px; margin-right: -15px; }
.timing-zone .content-zone .date-choise-desktop { margin-left: 15px; margin-right: -15px; }
.timing-zone .content-zone .date-choise-desktop ul:before { content: ""; position: absolute; width: 100%; overflow: hidden; top: 26px; left: 0px; border-top: 1px solid rgba(255, 255, 255, 0.4); }
.timing-zone .content-zone .date-choise-desktop ul:after { content: ""; position: absolute; width: 100%; overflow: hidden; bottom: 2px; left: 0px; border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
.timing-zone .content-zone .date-choise-desktop ul { position: relative; text-align: center; margin-bottom: 30px; height: 61px; padding-left: 0px; margin-top: 77px; }
.timing-zone .content-zone .date-choise-desktop ul li:nth-child(7n) em, .timing-zone .content-zone .date-choise-desktop ul li:nth-child(7n-1) em { color: #fd876d; }
.timing-zone .content-zone .date-choise-desktop ul li { display: inline-block; }
.timing-zone .content-zone .date-choise-desktop ul li em { display: block; font-style: normal; font-size: 0.756em; color: rgba(255, 255, 255, 0.4); text-transform: uppercase; text-align: center; }
.timing-zone .content-zone .date-choise-desktop ul li span { font-size: 1.375em; color: #fff; text-transform: uppercase; position: relative; font-weight: 400; display: block; width: 35px; padding-left: 1px; height: 35px; text-align: center; transition: all .2s; cursor: pointer; margin-left: -4px; padding-top: 4px; overflow: hidden; }
.timing-zone .content-zone .date-choise-desktop ul li span.active { color: #011334; border-radius: 50%; vertical-align: middle; background-color: #fff; border-radius: 50%; }
.timing-zone .content-zone table { margin-bottom: 30px; width: 100%; }
.timing-zone .content-zone table tr:first-child th:last-child { border-right: 0px solid #fff; padding-right: 15px; width: 14%; border-radius: 0px 5px 5px 0px; }
.timing-zone .content-zone table tr:first-child th:first-child { padding-left: 15px; width: 14%; border-radius: 5px 0px 0px 5px; }
.timing-zone .content-zone table tr:first-child th:first-child span { border-left: 1px solid #284380; }
.timing-zone .content-zone table tr:nth-child(even) { background: transparent; }
.timing-zone .content-zone table tr:nth-child(even) td { border-top: 0px; border-bottom: 0px; }
.timing-zone .content-zone table tr { position: relative; }
.timing-zone .content-zone table tr th { width: 12%; background: #1f3168; text-align: center; padding: 0; margin: 0; border-spacing: 0px; }
.timing-zone .content-zone table tr th span { font-size: 0.756em; border-right: 1px solid #284380; color: #fff; text-transform: uppercase; font-weight: 400; padding: 11px; display: block; transition: all .2s; }
.timing-zone .content-zone table tr td { color: #fff; padding: 0; text-align: center; }
.timing-zone .content-zone table tr td span { font-size: 1.008em; color: #a4b1d6; padding: 6px 0px; width: 35px; height: 35px; display: inline-block; cursor: pointer; margin: 5px 0; }
.timing-zone .content-zone table tr td span.active { color: #011334; border-radius: 50%; vertical-align: middle; background-color: #fff; border-radius: 50%; }
.timing-zone .content-zone table tr td:last-child { position: relative; left: -7px; }
.timing-zone .content-zone table tr td:first-child { position: relative; left: 7px; }
.timing-zone .content-zone .date-sale { text-align: center; font-size: 0.819em; color: #fff; font-weight: 400; margin-bottom: 15px; }
.timing-zone .content-zone .date-sale span { display: inline-block; font-style: normal; color: #011334; background: #00ffab; padding: 3px 6px; }
.timing-zone .content-zone .timing-time { position: relative; margin-top: -5px; color: #fff; text-align: left; }
.timing-zone .content-zone .timing-time .timing-time--item { border-top: 1px solid #3e4a62; padding-top: 30px; }
.timing-zone .content-zone .timing-time .timing-time--item p { text-align: left; }
.timing-zone .content-zone .timing-time .timing-time--item .name { padding-bottom: 40px; padding-left: 15px; }
.timing-zone .content-zone .timing-time .timing-time--item .name a, .timing-zone .content-zone .timing-time .timing-time--item .name a:visited, .timing-zone .content-zone .timing-time .timing-time--item .name a:active { outline: none; color: #00ffab; text-decoration: underline; transition: all 0.3s ease; }
.timing-zone .content-zone .timing-time .timing-time--item .name a:hover { text-decoration: none; }
.timing-zone .content-zone .timing-time .timing-time--item .name p { font-size: 1.134em; color: #00ffab; }
.timing-zone .content-zone .timing-time .timing-time--item .time { top: -32px; padding: 0; margin-bottom: 0px; }
.timing-zone .content-zone .timing-time .timing-time--item .time span { margin-top: 8px; display: inline-block; font-style: normal; font-size: 0.945em; padding: 2px 5px; cursor: pointer; transition: all 0.3s ease; }
.timing-zone .content-zone .timing-time .timing-time--item .time span:hover { color: #00ffab; }
.timing-zone .content-zone .timing-time .timing-time--item .time span.bron { color: #7d869d; }
.timing-zone .content-zone .timing-time .timing-time--item .time span.sale { color: #011334; background: #00ffab; }
.timing-zone .content-zone .timing-time .timing-time--item .time span.sale:hover { color: #00ffab; background: transparent; }
.timing-zone .content-zone .timing-time .timing-time--item .time-morning { margin-top: 30px; border-top: 1px solid #68b6ff; border-bottom: 1px solid #68b6ff; padding-bottom: 8px; }
.timing-zone .content-zone .timing-time .timing-time--item .time-morning em { display: block; position: absolute; color: #68b6ff; top: -22px; font-style: normal; left: 40%; }
.timing-zone .content-zone .timing-time .timing-time--item .time-sun { margin-top: 30px; border-top: 1px solid #faf78f; border-bottom: 1px solid #faf78f; padding-bottom: 8px; }
.timing-zone .content-zone .timing-time .timing-time--item .time-sun em { display: block; position: absolute; color: #faf78f; top: -22px; font-style: normal; left: 40%; }
.timing-zone .content-zone .timing-time .timing-time--item .time-evening { margin-top: 30px; border-top: 1px solid #fd876d; border-bottom: 1px solid #fd876d; padding-bottom: 8px; }
.timing-zone .content-zone .timing-time .timing-time--item .time-evening em { display: block; position: absolute; color: #fd876d; top: -22px; font-style: normal; left: 40%; }
.timing-zone .content-zone .timing-time .timing-time--item:nth-child(odd) { background: rgba(255, 255, 255, 0.05); }
.timing-zone .content-zone .timing-time .timing-time--item:last-child { border-bottom: 1px solid #3e4a62; }

@media (min-width: 992px) { .time.col-lg-3 { width: 23% !important; margin-left: 1%; margin-right: 1%; } }
@media (min-width: 768px) { .time.col-sm-4 { width: 31.33333333%; margin-left: 1%; margin-right: 1%; } }
@media (max-width: 345px) { .timing-zone .content-zone table { margin-left: -7px; } }
@media (max-width: 767px) { .timing-zone .content-zone h1 { margin-top: 50px; }
  .timing-zone .content-zone table { width: 100%; }
  .timing-zone .content-zone table tr:first-child th:last-child { border-right: 0px solid #fff; padding-right: 0px; }
  .timing-zone .content-zone table tr:first-child th:first-child { border-right: 0px solid #fff; padding-left: 0px; }
  .timing-zone .content-zone table td:last-child { left: inherit !important; }
  .timing-zone .content-zone table td:first-child { left: inherit !important; }
  .timing-zone .timing-time .timing-time--item .name p { text-align: center !important; font-size: 1.4em !important; font-weight: 400; text-decoration: underline; }
  .timing-zone .timing-time .timing-time--item .time { margin-bottom: 50px !important; } }
@media (max-width: 680px) { img.align-left { float: inherit; width: 100%; }
  img.align-right { float: inherit; width: 100%; } }
img.align-left { float: left; margin-right: 30px; margin-bottom: 15px; margin-top: 15px; }

img.align-right { float: right; margin-left: 15px; margin-bottom: 15px; margin-top: 15px; }

.text-error { font-weight: 400; color: #bb3249 !important; text-shadow: 0px 1px 1px #051C43; line-height: 20px; }

#OrderTime { padding: 0 !important; }
#OrderTime .modal-full { width: 100% !important; margin: 0 !important; min-height: 100%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#123873+0,011334+100 */ background: #123873; /* Old browsers */ background: -moz-radial-gradient(center, ellipse cover, #123873 0%, #011334 100%); /* FF3.6+ */ background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #123873), color-stop(100%, #011334)); /* Chrome,Safari4+ */ background: -webkit-radial-gradient(center, ellipse cover, #123873 0%, #011334 100%); /* Chrome10+,Safari5.1+ */ background: -o-radial-gradient(center, ellipse cover, #123873 0%, #011334 100%); /* Opera 12+ */ background: -ms-radial-gradient(center, ellipse cover, #123873 0%, #011334 100%); /* IE10+ */ background: radial-gradient(ellipse at center, #123873 0%, #011334 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#123873', endColorstr='#011334',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
#OrderTime .modal-full .modal-content.back-form h1 { margin-bottom: 50px; }
#OrderTime .modal-full .modal-content.back-form .desc { text-align: center; margin-bottom: 40px; }
#OrderTime .modal-full .modal-content.back-form .top { padding-bottom: 25px; border-bottom: 0px solid rgba(255, 255, 255, 0.4); }
#OrderTime .modal-full .modal-content.back-form .ordering textarea { color: #fff; background: #051226; border: 1px solid rgba(255, 255, 255, 0.3); font-size: 1em; font-family: "Open Sans", "sans-serif"; padding: 5px 15px; width: 514px; margin-left: 15px; margin-right: 15px; font-weight: normal; outline: none; margin-bottom: 15px; }
#OrderTime .modal-full .modal-content.back-form .ordering input[type="submit"] { margin-left: 0px; }
#OrderTime .modal-full .modal-content { background: transparent; box-shadow: none; border: none; color: #fff; padding-top: 30px; border-radius: 0px; }
#OrderTime .modal-full .modal-content .top { padding-bottom: 25px; border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
#OrderTime .modal-full .modal-content .close { color: #fff; text-shadow: none; opacity: 1; font-weight: normal; border-radius: 50%; background: #00ffab; width: 26px; height: 26px; position: relative; outline: none; }
#OrderTime .modal-full .modal-content .close span { color: #011334; position: relative; left: 1px; font-weight: normal; text-shadow: none; }
#OrderTime .modal-full .modal-content .close em { position: absolute; left: 36px; top: 4.5px; font-size: 0.875em; font-family: "catorze27", "Open Sans", "sans-serif"; font-style: normal; text-shadow: none; text-transform: uppercase; }
#OrderTime .modal-full .modal-content .tizer img { width: 100%; margin-bottom: 25px; }
#OrderTime .modal-full .modal-content h1 { text-align: center; font-family: "catorze27", "Open Sans", "sans-serif"; font-size: 2.898em; color: #00ffab; text-transform: uppercase; margin-top: 75px; margin-bottom: 70px; }
#OrderTime .modal-full .modal-content h2 { font-size: 2.331em; line-height: 45px; color: #fff; font-family: "catorze27", "Open Sans", "sans-serif"; margin-top: 0px; text-transform: uppercase; margin-bottom: 20px; text-shadow: 1px 0px 2px #000; }
#OrderTime .modal-full .modal-content h2 img { margin-right: 15px; }
#OrderTime .modal-full .modal-content p { font-weight: 600; font-size: 0.819em; line-height: 20px; }
#OrderTime .modal-full .modal-content p.icon { font-weight: normal; margin-top: 15px; margin-bottom: 50px; }
#OrderTime .modal-full .modal-content p.icon span { display: inline-block; font-family: "catorze27", "Open Sans", "sans-serif"; text-shadow: 1px 0px 2px #000; font-size: 1.375em; text-transform: uppercase; font-weight: normal; margin-right: 25px; }
#OrderTime .modal-full .modal-content p.icon .people:before { content: ""; display: inline-block; background: url("../img/quest-ico--people.png") left top no-repeat; width: 20px; height: 15px; margin-right: 10px; }
#OrderTime .modal-full .modal-content p.icon .diff:before { content: ""; display: inline-block; width: 20px; height: 20px; margin-right: 10px; }
#OrderTime .modal-full .modal-content p.icon .diff--hard:before { background: url("../img/quest-ico-diff--hard.png") left top no-repeat; }
#OrderTime .modal-full .modal-content p.icon .diff--child:before { background: url("../img/quest-ico-diff--hard.png") left top no-repeat; }
#OrderTime .modal-full .modal-content p.icon .diff--simple:before { background: url("../img/quest-ico-diff--simple.png") left top no-repeat; }
#OrderTime .modal-full .modal-content p.icon .timer:before { content: ""; display: inline-block; width: 22px; height: 22px; background: url("../img/quest-ico--time.png") left center no-repeat; margin-right: 10px; background-size: 22px; position: relative; top: 2px; }
#OrderTime .modal-full .modal-content .date, #OrderTime .modal-full .modal-content .price { font-family: "catorze27", "Open Sans", "sans-serif"; font-size: 1.008em; color: #fff; text-transform: uppercase; letter-spacing: 1px; }
#OrderTime .modal-full .modal-content .date span, #OrderTime .modal-full .modal-content .price span { color: #00ffab; }
#OrderTime .modal-full .ordering h3 { font-size: 2.016em; text-shadow: 1px 0px 2px #000; color: #fff; text-align: center; font-family: "catorze27", "Open Sans", "sans-serif"; text-transform: uppercase; margin-top: 40px; margin-bottom: 30px; }
#OrderTime .modal-full .ordering form { text-align: center; padding-bottom: 150px; }
#OrderTime .modal-full .ordering form .submit { border-top: 1px solid rgba(255, 255, 255, 0.4); padding-top: 20px; margin-top: 0px; width: 70%; margin: 0 auto; }
#OrderTime .modal-full .ordering form .submit label { margin-right: 30px; cursor: default; font-size: 1.3em; font-weight: normal; color: #00ffab; letter-spacing: 1px; font-family: "catorze27", "Open Sans", "sans-serif"; text-align: right; position: relative; top: 10px; margin-bottom: 15px; }
#OrderTime .modal-full .ordering form .submit label span { float: inherit; padding-left: 10px; font-size: 34px; }
#OrderTime .modal-full .ordering form input.error { border-color: red !important; }
#OrderTime .modal-full .ordering form input[type="submit"] { background: #4a83c0; border: 1px solid #4a83c0; border-radius: 5px; color: #fff; font-size: 1.071em; font-weight: 600; outline: none; padding: 8px 29px; margin-top: 20px; margin-left: 20px; }
#OrderTime .modal-full .ordering form input[type="submit"]:hover { background: #3267A0; border-color: #3267A0; }
#OrderTime .modal-full .ordering form input[type="submit"]:active { box-shadow: 0px 2px 5px #1A508A inset; border-color: #1A508A; }
#OrderTime .modal-full .ordering form input[type="text"] { color: #fff; background: #051226; border: 1px solid rgba(255, 255, 255, 0.3); font-size: 1em; font-family: "Open Sans", "sans-serif"; padding: 5px 15px; width: 240px; margin-left: 15px; margin-right: 15px; font-weight: normal; outline: none; margin-bottom: 15px; }
#OrderTime .modal-full .ordering form input[type="radio"] { width: 16px; height: 16px; overflow: hidden; margin: 0; padding: 0; outline: none; opacity: 0; display: none; }
#OrderTime .modal-full .ordering form label { display: inline-block; text-align: left; color: #fff; font-size: 1em; font-family: "Open Sans", "sans-serif"; cursor: pointer; padding: 5px 0px 5px 3px; margin-left: 15px; margin-right: 15px; }
#OrderTime .modal-full .ordering form label span { font-weight: normal; display: inline-block; float: left; position: relative; padding-left: 30px; height: 25px; }
#OrderTime .modal-full .ordering form input[type="radio"] + span:before { content: ""; display: inline-block; width: 16px; height: 16px; background: url("../img/sprite--radio-check.png") top left no-repeat; position: absolute; top: 1px; margin-right: 0px; left: 6px; }
#OrderTime .modal-full .ordering form input[type="radio"]:checked + span:before { background-position: -16px 0px; }

@media (max-width: 1067px) { #OrderTime .modal-full .modal-content .close em { visibility: hidden; } }
@media (max-width: 960px) { #OrderTime .modal-full .modal-content { padding-top: 30px; }
  #OrderTime .modal-full .modal-content h1 { margin-bottom: 30px; margin-top: 55px; }
  #OrderTime .modal-full .modal-content div { padding: 0; }
  #OrderTime .modal-full .modal-content .ordering form .submit { width: 100%; } }
@media (max-width: 560px) { #OrderTime .modal-full .modal-content.back-form .ordering textarea { width: 240px; margin-left: 15px; margin-right: 15px; } }
@media (max-width: 500px) { #OrderTime .modal-full .modal-content .ordering h3 { text-align: left; }
  #OrderTime .modal-full .modal-content .ordering form { text-align: left; } }
/********************************************************
	ОДИН КВЕСТ
**/
.page--one .index--logo { position: absolute; z-index: 50; margin: 40px auto 0 auto; width: 100%; }
.page--one .index--logo .back { position: absolute; left: 13vw; top: 10px; outline: none; }
.page--one .slider { margin-bottom: 50px; }
.page--one .slider #big-quest .owl-buttons { top: 0px; width: 100%; height: 100%; }
.page--one .slider #big-quest .owl-buttons .owl-prev { font-size: 0px; position: absolute; cursor: pointer; display: inline-block; background: url("../img/arrow-left.png") top left no-repeat; width: 27px; height: 77px; left: 100px; top: calc(50% - 77px); }
.page--one .slider #big-quest .owl-buttons .owl-next { font-size: 0px; position: absolute; cursor: pointer; display: inline-block; background: url("../img/arrow-right.png") top right no-repeat; width: 27px; height: 77px; right: 100px; top: calc(50% - 77px); }
.page--one .slider #big-quest .item img { display: block; width: 100%; height: auto; }
.page--one .timing-zone h1 { font-size: 3.591em; color: #00ffab; }
.page--one .timing-zone .period { margin-bottom: 30px; }
.page--one .timing-zone .timing-time--item .name p { margin-bottom: 5px; }
.page--one .timing-zone .timing-time--item .name span { font-size: 0.819em; color: #7d869d; }
.page--one .timing-zone .for-mobile.ordering p { font-size: 0.882em; }
.page--one .timing-zone .for-mobile.ordering .date { font-family: "catorze27", "Open Sans", "sans-serif"; font-size: 0.882em; color: #fff; letter-spacing: 1px; text-transform: uppercase; margin-bottom: 5px; }
.page--one .timing-zone .for-mobile.ordering .date span { color: #00ffab; }
.page--one .timing-zone .for-mobile.ordering .price { font-family: "catorze27", "Open Sans", "sans-serif"; font-size: 0.882em; color: #fff; letter-spacing: 1px; text-transform: uppercase; margin-bottom: 5px; }
.page--one .timing-zone .for-mobile.ordering .price span { color: #00ffab; }
.page--one .timing-zone .for-mobile.ordering h3 { font-size: 1.512em; text-shadow: 1px 0px 2px #000; color: #fff; text-align: left; font-family: "catorze27", "Open Sans", "sans-serif"; text-transform: uppercase; margin-top: 40px; margin-bottom: 30px; }
.page--one .timing-zone .for-mobile.ordering form { text-align: left; padding-bottom: 150px; }
.page--one .timing-zone .for-mobile.ordering form .submit { border-top: 1px solid rgba(255, 255, 255, 0.4); padding-top: 20px; margin-top: 0px; }
.page--one .timing-zone .for-mobile.ordering form .submit label { display: block; margin-right: 30px; cursor: default; font-size: 1.3em; font-weight: normal; color: #00ffab; letter-spacing: 1px; font-family: "catorze27", "Open Sans", "sans-serif"; text-align: left; position: relative; top: 10px; margin-bottom: 15px; }
.page--one .timing-zone .for-mobile.ordering form .submit label span { float: inherit; padding-left: 10px; font-size: 34px; }
.page--one .timing-zone .for-mobile.ordering form input.error { border-color: red !important; }
.page--one .timing-zone .for-mobile.ordering form select { color: #fff; background: #051226; border: 1px solid rgba(255, 255, 255, 0.3); font-size: 0.882em; font-family: "Open Sans", "sans-serif"; padding: 5px 15px; width: 240px; margin-right: 15px; font-weight: normal; outline: none; margin-bottom: 15px; height: 32px; border-radius: 0px !important; }
.page--one .timing-zone .for-mobile.ordering form select option { outline: none; }
.page--one .timing-zone .for-mobile.ordering form input[type="submit"] { background: #4a83c0; border: 1px solid #4a83c0; border-radius: 5px; color: #fff; font-size: 1em; font-weight: 600; outline: none; padding: 8px 29px; margin-top: 20px; }
.page--one .timing-zone .for-mobile.ordering form input[type="submit"]:hover { background: #3267A0; border-color: #3267A0; }
.page--one .timing-zone .for-mobile.ordering form input[type="submit"]:active { box-shadow: 0px 2px 5px #1A508A inset; border-color: #1A508A; }
.page--one .timing-zone .for-mobile.ordering form input[type="text"] { color: #fff; background: #051226; border: 1px solid rgba(255, 255, 255, 0.3); font-size: 1em; font-family: "Open Sans", "sans-serif"; padding: 5px 15px; width: 240px; margin-right: 15px; font-weight: normal; outline: none; margin-bottom: 15px; }
.page--one .timing-zone .for-mobile.ordering form input[type="radio"] { width: 16px; height: 16px; overflow: hidden; margin: 0; padding: 0; outline: none; opacity: 0; display: none; }
.page--one .timing-zone .for-mobile.ordering form label { display: block; height: 30px; text-align: left; color: #fff; font-size: 1em; font-family: "Open Sans", "sans-serif"; cursor: pointer; padding: 5px 0px 5px 3px; margin-right: 15px; }
.page--one .timing-zone .for-mobile.ordering form label span { font-weight: normal; display: inline-block; float: left; position: relative; padding-left: 30px; height: 25px; }
.page--one .timing-zone .for-mobile.ordering form input[type="radio"] + span:before { content: ""; display: inline-block; width: 16px; height: 16px; background: url("../img/sprite--radio-check.png") top left no-repeat; position: absolute; top: 1px; margin-right: 0px; left: 6px; }
.page--one .timing-zone .for-mobile.ordering form input[type="radio"]:checked + span:before { background-position: -16px 0px; }

.quest--info { margin-top: -400px; text-shadow: 0px 1px 1px #000; padding-bottom: 160px; }
.quest--info .contact { float: right; padding-left: 0px; }
.quest--info .contact ul { padding-left: 15px; }
.quest--info .contact li { color: #fff; font-size: 0.882em; list-style-type: none; margin-bottom: 4px; }
.quest--info .contact li a { color: #00ffab; text-decoration: none; border-bottom: 1px dotted; }
.quest--info .contact .where:before { content: ""; position: relative; top: 6px; margin-right: 10px; display: inline-block; width: 25px; height: 26px; background: url("../img/ico-where.png") center center no-repeat; }
.quest--info .contact .phone:before { content: ""; position: relative; top: 6px; margin-right: 10px; display: inline-block; width: 25px; height: 25px; background: url("../img/ico-phone.png") center center no-repeat; }
.quest--info .contact .email:before { content: ""; position: relative; top: 6px; margin-right: 10px; display: inline-block; width: 25px; height: 25px; background: url("../img/ico-email.png") center center no-repeat; }
.quest--info p.icon { color: #fff; font-weight: normal; margin-top: 15px; margin-bottom: 30px; }
.quest--info p.icon span { display: inline-block; font-family: "catorze27", "Open Sans", "sans-serif"; text-shadow: 1px 0px 2px #000; font-size: 1.375em; text-transform: uppercase; font-weight: normal; margin-right: 25px; }
.quest--info p.icon .people:before { content: ""; display: inline-block; background: url("../img/quest-ico--people.png") left top no-repeat; width: 20px; height: 15px; margin-right: 10px; }
.quest--info p.icon .diff:before { content: ""; display: inline-block; width: 20px; height: 20px; margin-right: 10px; }
.quest--info p.icon .diff--hard:before { background: url("../img/quest-ico-diff--hard.png") left top no-repeat; }
.quest--info p.icon .diff--child:before { width: 30px; background: url("../img/quest-ico-diff--child.png") left top no-repeat; }
.quest--info p.icon .diff--simple:before { width: 22px; background: url("../img/quest-ico-diff--simple.png") left top no-repeat; }
.quest--info p.icon .timer:before { content: ""; display: inline-block; width: 22px; height: 22px; background: url("../img/quest-ico--time.png") left center no-repeat; margin-right: 10px; background-size: 22px; position: relative; top: 2px; }
.quest--info .description { float: left; }
.quest--info .description h2 { font-size: 3.528em; line-height: 45px; color: #fff; font-family: "catorze27", "Open Sans", "sans-serif"; margin-top: 0px; text-transform: uppercase; margin-bottom: 20px; text-shadow: 1px 0px 2px #000; }
.quest--info .description h2 img { margin-right: 15px; }
.quest--info .description p { font-weight: 600; font-size: 1.008em; line-height: 24px; color: #fff; }

@media (max-width: 992px) { .page--one .timing-zone h1 { margin-top: 50px; text-align: left; }
  .page--one .timing-zone .content-zone p { text-align: left !important; }
  .page--one .timing-zone .date-sale { text-align: left; margin-left: 0px; padding-left: 0px !important; }
  .page--one .timing-zone .period { text-align: left !important; }
  .page--one .timing-zone .period h1 { font-size: 1.764em; }
  .page--one .timing-zone .period p { font-size: 0.945em; }
  .slider { margin-bottom: 15px !important; }
  .quest--info { margin-top: 0px; padding-bottom: 0px; margin-bottom: -50px; display: table; }
  .quest--info .description { display: table-row-group; padding-left: 0px; padding-right: 0px; }
  .quest--info .description p { font-weight: normal; }
  .quest--info .description h2 { font-size: 1.512em; line-height: 32px; }
  .quest--info .description h2 img { float: left; top: 4px; position: relative; }
  .quest--info .contact { display: table-header-group; border-bottom: 1px solid rgba(255, 255, 255, 0.4); margin-bottom: 25px; float: left; padding-left: 0px; padding-right: 0px; }
  .quest--info .contact ul { padding-left: 0px; }
  .quest--info .contact ul li { display: inline-block; margin-right: 15px; }
  .quest--info .icons { display: table-footer-group; }
  .quest--info .icons .icon { border-bottom: 1px solid rgba(255, 255, 255, 0.4); padding-bottom: 20px; }
  .quest--info .icons .icon span { display: block; font-size: 1.008em; } }
@media (max-width: 767px) { .page--one .slider { margin-top: 33px; }
  .page--one .slider #big-quest .owl-buttons { visibility: hidden; }
  .quest--info .description { padding-left: 0px; padding-right: 0px; }
  .quest--info .description h2 { font-size: 1.512em; line-height: 32px; }
  .quest--info .description h2 img { float: left; top: 4px; position: relative; }
  .quest--info .contact { float: left; padding-left: 0px; padding-right: 0px; }
  .quest--info .contact ul { padding-left: 0px; } }
@media (max-width: 1439px) { .page--one .slider #big-quest .owl-buttons .owl-prev { left: 15px; }
  .page--one .slider #big-quest .owl-buttons .owl-next { right: 15px; } }
/*
*********************************************************/
/********************************************************
// Победители
*/
.winners-zone { padding-bottom: 90px; }
.winners-zone .content-zone h1 { color: #fff; text-align: center; margin-bottom: 25px; }
.winners-zone .content-zone h4 { text-align: center; margin-top: 30px; margin-bottom: 20px; }
.winners-zone .content-zone p { font-weight: normal; font-size: 1.134em; text-align: center; }
.winners-zone .content-zone form { text-align: center; font-weight: normal; font-size: 0.819em; text-align: center; color: #fff; }
.winners-zone .content-zone form span { display: inline-block; margin-bottom: 15px; margin-right: 10px; }
.winners-zone .content-zone .select { color: #fff; background: #051226; border: 1px solid rgba(255, 255, 255, 0.3); font-size: 1em; font-family: "Open Sans", "sans-serif"; padding: 5px 15px; width: 240px; margin-right: 15px; font-weight: normal; outline: none; top: 0px; overflow: hidden; /* Кнопка будет находиться за пределами "обертки" */ display: inline-block; position: relative; vertical-align: middle; }
.winners-zone .content-zone .select select { width: 260px; font-family: "Open Sans", "sans-serif"; border: none; display: inline-block; height: 22px; /* Меньше, чем рисованная "кнопочка" на ширину нужного border'а */ line-height: 22px; position: relative; /* Это нужно, чтобы работал z-index */ background: transparent; -webkit-appearance: none; appearance: none; z-index: 10; text-overflow: ''; outline: none; }
.winners-zone .content-zone .select-v { background: url("../img/select-v.png") center center no-repeat; height: 24px; /* Размеры подготовленной картинки */ width: 24px; position: absolute; /* Размещаем объект по правому краю */ right: 0; top: 5px; bottom: 0; z-index: 50; }

@media (max-width: 767px) { .winners-zone .content-zone h1 { margin-top: 50px; }
  .winners-zone .content-zone form span { padding-left: 0px; } }
#big-map { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 0; }

.page--map .header-top, .page--map .index--logo { position: relative; z-index: 2; }
.page--map .header-top { background: #010c26; background: -moz-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #010c26), color-stop(35%, #011130), color-stop(65%, #011130), color-stop(100%, #010a1d)); background: -webkit-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); background: -o-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); background: -ms-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); background: linear-gradient(to right, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#010c26', endColorstr='#010a1d',GradientType=1 ); }
.page--map .menu-zone ul:before { content: ""; display: block; width: 800px; height: 100px; position: absolute; background: #010c26; background: -moz-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #010c26), color-stop(35%, #011130), color-stop(65%, #011130), color-stop(100%, #010a1d)); background: -webkit-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); background: -o-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); background: -ms-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); background: linear-gradient(to right, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#010c26', endColorstr='#010a1d',GradientType=1 ); z-index: -1; left: calc(50% - 390px); top: -17px; opacity: 0.8; border-radius: 10px; }

@media (max-width: 767px) { .page--map .header-top { height: 70px; } }
.contact-zone { min-height: 770px; }
.contact-zone .content-zone { min-height: initial; }
.contact-zone .content-zone h1 { text-align: center; margin-top: 50px; margin-bottom: 10px; }
.contact-zone .content-zone h2 { font-size: 1.638em; text-transform: none; font-family: "Open Sans", "sans-serif"; font-weight: 600; text-align: center; margin-top: 0px; }

.contact-zone--map { height: 345px; width: 100%; }

.contact-zone--contacts h2 { text-align: center; font-family: "Open Sans", "sans-serif"; font-size: 1.764em; color: #fff; text-shadow: 1px 1px 1px #000; font-weight: 600; position: absolute; width: calc(100% - 15px); z-index: 5; text-transform: uppercase; }
.contact-zone--contacts .info { color: #fff; background: rgba(255, 255, 255, 0.11); margin-top: 30px; margin-bottom: 60px; padding-bottom: 30px; padding-left: 5px; }
.contact-zone--contacts .info h3 { color: #7d869d; font-size: 0.819em; font-weight: 600; margin-bottom: 20px; }
.contact-zone--contacts .info .backf { color: #00ffab; font-size: 0.882em; display: inline-block; outline: none; }
.contact-zone--contacts .info .backf:before { content: ""; display: inline-block; position: relative; width: 25px; height: 25px; top: 10px; margin-right: 5px; background: url("../img/ico-speach.png") left top no-repeat; }
.contact-zone--contacts .info .backf:hover, .contact-zone--contacts .info .backf:visited, .contact-zone--contacts .info .backf:active { text-decoration: none; outline: none; }
.contact-zone--contacts .info p { font-size: 1.008em; line-height: 22px; color: #fff; margin-bottom: 2px; }
.contact-zone--contacts .info p span { color: #acacac; font-weight: 600; }
.contact-zone--contacts .info p span.red { color: #bb3249; font-weight: 600; }
.contact-zone--contacts .info p em { font-style: normal; color: #00ffab; }

.info-ur h2 { color: #fff; font-size: 1.386em; font-weight: 600; margin-bottom: 15px; }
.info-ur p { color: #fff; font-weight: normal; font-size: 0.819em; line-height: 20px; margin-bottom: 20px; }
.info-ur .row { color: #fff; font-size: 0.819em; margin-bottom: 2px; }
.info-ur .row .col-lg-5, .info-ur .row .col-lg-12 { color: #7d869d; overflow: hidden; }
.info-ur .row .col-lg-5:after { content: ""; display: inline-block; width: 100%; border-bottom: 1px dotted; position: absolute; top: 16px; overflow: hidden; margin-left: 3px; }
.info-ur .row .col-lg-7 { padding-left: 3px; }

@media (max-width: 991px) { .info-ur .row { margin-bottom: 10px; }
  .info-ur .row .col-lg-5:after { display: none; }
  .info-ur .row .col-lg-7 { margin-left: 12px; padding-left: 3px; } }
.winners-box { padding-top: 30px; margin-left: -15px; margin-right: -15px; }

.winners-box--item { margin-bottom: 30px; text-align: center; }
.winners-box--item img { width: 100%; max-width: 400px; margin-bottom: 15px; }
.winners-box--item .text { text-align: left; width: 100%; max-width: 400px; margin: 0 auto; margin-bottom: 20px; }
.winners-box--item .text p { text-align: left; }
.winners-box--item .text p span { font-family: "catorze27", "Open Sans", "sans-serif"; font-style: 1.008em; letter-spacing: 1px; }
.winners-box--item .text .time:before { content: ""; display: inline-block; background: url("../img/quest-ico--time.png") top left no-repeat; width: 25px; height: 25px; position: relative; top: 5px; margin-right: 10px; }
.winners-box--item .text .date:before { content: ""; display: inline-block; background: url("../img/ico-cal.png") top left no-repeat; width: 25px; height: 25px; position: relative; top: 5px; margin-right: 10px; }
.winners-box--item .text .share { float: right; font-size: 0.756em; color: #fff; }
.winners-box--item .text .share img { width: initial !important; }

/*
******************************************************/
.mobile-h1 h1 { margin-top: 50px; margin-bottom: 20px; text-align: center; font-size: 2.898em; color: #fff; font-family: "catorze27", "Open Sans", "sans-serif"; text-transform: uppercase; }

.content-zone--questions { text-align: center; }
.content-zone--questions h1 { margin-top: 50px; font-size: 2.898em; color: #00ffab; font-family: "catorze27", "Open Sans", "sans-serif"; text-transform: uppercase; margin-bottom: 60px; }
.content-zone--questions h2 { font-size: 2.898em; color: #fff; font-weight: bold; margin-bottom: 15px; }
.content-zone--questions p { margin: 0 auto; width: 80%; margin-bottom: 30px; }
.content-zone--questions .answer { position: relative; left: -10px; display: inline-block; margin: 0 auto; padding-bottom: 40px; text-align: center; }
.content-zone--questions .answer label { display: inline-block; width: 100%; }
.content-zone--questions .answer-2 { column-count: 2; -webkit-column-count: 2; -webkit-column-width: 100px; -moz-column-count: 2; -webkit-column-gap: 1em; -moz-column-gap: 1em; text-align: left; vertical-align: top; }
.content-zone--questions .answer-2 label { display: block; min-height: 20px; width: 100%; }
.content-zone--questions label { margin-bottom: 10px; }
.content-zone--questions input[type="radio"] { width: 16px; height: 16px; overflow: hidden; margin: 0; padding: 0; outline: none; opacity: 0; display: none; }
.content-zone--questions label { display: inline-block; text-align: left; color: #fff; font-size: 0.819em; font-family: "Open Sans", "sans-serif"; cursor: pointer; }
.content-zone--questions label span { font-weight: normal; display: inline-block; float: left; position: relative; padding-left: 30px; height: 25px; }
.content-zone--questions input[type="radio"] + span:before { content: ""; display: inline-block; width: 16px; height: 16px; background: url("../img/sprite--radio-check.png") top left no-repeat; position: absolute; top: 1px; margin-right: 0px; left: 6px; }
.content-zone--questions input[type="radio"]:checked + span:before { background-position: -16px 0px; }
.content-zone--questions .send, .send { margin-top: 0px; text-align: center;}

@media (max-width: 960px) { .content-zone--questions .answer-2 { column-count: inherit !important; -webkit-column-count: inherit !important; -webkit-column-width: inherit !important; -moz-column-count: inherit !important; -webkit-column-gap: inherit !important; -moz-column-gap: inherit !important; text-align: left; vertical-align: top; }
  .content-zone--questions label span { float: inherit !important; } }
.content-zone--index { margin-top: 100px; position: relative; z-index: 99; }
.content-zone--index h1 { font-size: 2.898em; color: #00ffab; text-transform: uppercase; font-family: "catorze27", "Open Sans", "sans-serif"; position: relative; z-index: 2; margin-bottom: 20px; }
.content-zone--index h2 { position: absolute; top: -50px; left: -22px; z-index: 1; font-size: 5.04em; text-transform: uppercase; font-family: "catorze27", "Open Sans", "sans-serif"; color: #131e31; }
.content-zone--index p { border-left: 1px solid #00ffab; font-size: 0.819em; color: #fff; padding-left: 20px; margin-left: 30px; line-height: 20px; position: relative; z-index: 9; }

footer { bottom: 0; width: 100%; text-align: center; font-size: 0.819em; color: #004a4a; z-index: 2; position: relative; }
footer .fog-1 { background: url("../img/footer-fog1.png") center 197px no-repeat; width: 100%; height: 418px; position: absolute; z-index: 3; }
footer .fog-2 { background: url("../img/footer-fog2.png") bottom center no-repeat; width: 100%; height: 418px; position: absolute; z-index: 2; }
footer .safe { background: url("../img/safe.png") top center no-repeat; width: 268px; height: 306px; position: absolute; z-index: 1; left: 67%; top: 80px; }
footer .container { position: relative; z-index: 4; top: 362px; }
footer a, footer a:hover, footer a:active { color: #00b77b; }
footer .shared { text-transform: uppercase; position: relative; top: -30px; color: #000a0a; text-align: center; }
footer .shared .span { display: block; }

@media (max-width: 767px) { .mini-logo { display: inline-block !important; }
  .header-top { border: none; }
  .menu-zone { position: fixed; bottom: 0px; z-index: 999; width: 100%; margin-bottom: 0px; text-align: center; background: #000f2a; }
  .menu-zone ul { padding-top: 10px; margin-left: 0px; padding-left: 15px; padding-bottom: 10px; margin-bottom: 0px; padding-right: 15px; }
  .menu-zone li:last-child:after { display: none; }
  .menu-zone li:after { content: ""; display: inline-block; position: relative; padding-right: 0px; }
  .menu-zone li { display: inline-block; vertical-align: top; margin-left: -5px; border-bottom: 0px solid #475267; padding-bottom: 0px; width: 25%; }
  .menu-zone li a { display: inline-block; font-size: 0; color: #fff; text-transform: uppercase; font-family: "Open Sans Condensed", "Open Sans", "sans-serif"; letter-spacing: 2px; outline: none; text-decoration: none; padding-right: 0px; padding-bottom: 0px; }
  .menu-zone li a svg { fill: rgba(255, 255, 255, 0.4); }
  .menu-zone .active a { color: #00ffab; border-bottom: 0px solid; padding-bottom: 0px; }
  .quest-zone { padding-left: 10px; }
  .quest-zone .filter--text { font-size: 0.819em; color: rgba(255, 255, 255, 0.5); top: 7px; position: relative; }
  .quest-zone .filter.container { padding-left: 15px; margin-top: 37px; text-align: left; }
  .quest-zone .filter.container ul { display: inline-block; border: 0px solid rgba(255, 255, 255, 0.22); background-color: transparent; padding: 0; border-radius: 0px; margin-bottom: 0px; right: 15px; position: absolute; z-index: 99; }
  .quest-zone .filter.container ul .select { display: block; background: #1b1836; border: 1px solid #374969; font-size: 0.819em; color: rgba(255, 255, 255, 0.5); padding: 8px 10px; width: 130px; position: relative; cursor: pointer; }
  .quest-zone .filter.container ul .select:after { content: ""; background: url("../img/select-v.png") top right no-repeat; width: 7px; height: 4px; display: inline-block; position: absolute; right: 11px; top: 18px; }
  .quest-zone .filter.container ul li { display: none; list-style-type: none; background: #1b1836; }
  .quest-zone .filter.container ul li a { outline: none; display: inline-block; font-size: 0.819em; color: transparent; padding: 10px 15px; color: rgba(255, 255, 255, 0.5); }
  .quest-zone .filter.container ul li a.active { background: transparent; border-radius: 4px; color: rgba(0, 255, 171, 0.7); }
  .quest-zone .filter.container ul li a:hover, .quest-zone .filter.container ul li a:active, .quest-zone .filter.container ul li a:focus, .quest-zone .filter.container ul li a:visited { text-decoration: none; }
  .navbar #navbar { padding-bottom: 300px; }
  .navbar .regions { position: absolute; display: block; text-align: center; font-size: 0.875em; width: 100% !important; height: 20px; left: 0px; top: initial; bottom: 380px; z-index: 2; color: rgba(255, 255, 255, 0.4); text-transform: uppercase; }
  .navbar .regions span { text-transform: uppercase; color: #00ffab; cursor: pointer; font-size: 1em; border-bottom: 1px dotted; }
  .navbar .regions .cit-list { left: calc(50% - 60px); top: 28px !important; }
  .navbar .regions:before { content: ""; display: block; position: absolute; width: 10px; height: 14px; top: 1px; left: -14px; background: url("../img/header--pin.png"); }
  .navbar .social.social--right { text-align: center; width: 100%; }
  .navbar .navbar-collapse { background-color: #1b1836; z-index: 9999; position: relative; margin-left: -30px !important; }
  .navbar .navigation-top { display: inline-block; margin-left: 0px; padding-left: 0px; padding-top: 15px; padding-bottom: 40px; top: -8px; position: relative; width: 100%; }
  .navbar .navigation-top li { display: block; padding-bottom: 10px; padding-top: 10px; text-align: center; border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  .navbar .navigation-top li a { color: rgba(255, 255, 255, 0.4); font-size: 1.134em; text-transform: uppercase; margin-left: 15px; margin-right: 15px; transition: all 0.3s ease; }
  .navbar .navigation-top li a:hover { text-decoration: none; color: #00ffab; }
  .navbar .social { margin-left: -30px; margin-top: 10px; }
  .navbar .social li { display: inline-block; margin-right: 15px; }
  .navbar .social li a { display: block; width: 23px; height: 22px; background-position: center center; }
  .navbar .social li a svg { fill: #8d8c9b; }
  .navbar .social li #tw svg { width: 35px; height: 35px; }
  .navbar .social li #ig svg { width: 35px; height: 35px; }
  .navbar .social li #vm svg { width: 35px; height: 35px; }
  .navbar .social li #fb svg { width: 35px; height: 35px; }
  .navbar .social--right { float: right !important; margin-right: 15px; top: -8px; position: relative; }
  .page--index footer { margin-bottom: 435px; } }
@media (min-width: 768px) { .quest-zone .filter.container ul li { display: inline-block !important; }
  .quest-zone .filter.container ul li.select { display: none !important; } }
.questions {
    background-color: #071326;
}
.container-fluid {
    width: 100%;
}
