#loader{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #08152f;
	z-index: 1000;
	text-align: center;

	div{
		width: 100px;
		height: 100px;
		overflow: hidden;
		display: block;
		position: relative;
		width: 100px;
		height: 100px;
		margin:calc(50vh - 100px) auto 0 auto;

		#friday{
			overflow: hidden;
			display: block;
			position: relative;
			width: 100px;
			height: 100px;
			margin:0;
			background-image: url('../img/loader.png') ;
			z-index: 3;
		}
		#blood{
			position: relative;
		    width: 100px;
		    margin-top: -148px;
		    background-color: red;
		    margin: 0;
		    height: 200px;
		    z-index: 2;
		    top: -100px;
		    border-top: 100px solid #fff;
		}
	}
}

/* fonts */
@import 'fonts';

//@import url(bootstrap.min.css);

$font: 'Open Sans', 'sans-serif';
$fontLite: 'Open Sans Condensed','Open Sans', 'sans-serif';
$fontH1: 'catorze27', 'Open Sans', 'sans-serif';

$fontSize: 0.938em;

$color_green: #00ffab;
$color-link: #00b77b;
$color_white_40: rgba(255,255,255,0.4);
$color-footer--text: #004a4a;


html, body{
	font-family: $font;
	// font-weight: 400;
	background-color: transparent;
	font-size: 100%;
}

html{
	min-height: 100%;
	// height: 1600px;
}
body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010c26+0,011130+35,011130+65,010a1d+100 */
background: #010c26; /* Old browsers */
background: -moz-linear-gradient(left,  #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#010c26), color-stop(35%,#011130), color-stop(65%,#011130), color-stop(100%,#010a1d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #010c26 0%,#011130 35%,#011130 65%,#010a1d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #010c26 0%,#011130 35%,#011130 65%,#010a1d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #010c26 0%,#011130 35%,#011130 65%,#010a1d 100%); /* IE10+ */
background: linear-gradient(to right,  #010c26 0%,#011130 35%,#011130 65%,#010a1d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010c26', endColorstr='#010a1d',GradientType=1 ); /* IE6-9 */

}

body.page--index{
	background: #030e14 url("../img/index-bg.jpg") top center no-repeat;
}

i.rub{
	font-family: 'ruble';
	font-style: normal;
	text-transform: none!important;
}



.header-top{
	border-bottom: 1px solid rgba(255,255,255,0.15);
	height: 40px;
	.container{
		padding-right: 0px;

		.regions{
			//position: relative;
		    width: 190px;

			.cit-list{
				display: none;
				position: absolute;
				z-index: 9999;
				top: 24px;
				//display: inline-block;
				width: 163px;
				background-color: #0D1C39;
				padding: 5px 5px 10px 5px;
				border: 1px solid rgba(255, 255, 255,0.3);
				border-radius: 1px;
				text-align: center;
				p{
					display: block;
					margin-bottom: 0px;
					padding: 6px 10px;
					//border-bottom: 1px solid rgba(255, 255, 255, 0.3);

					a{
						color: #fff;
						text-decoration: none;
						border-bottom: 1px dotted;
						transition: all 0.3s ease;
					}
					a:hover{
						color: $color_green;
					}
				}
				// p:nth-child(odd){
				// 	background-color: rgb(13, 28, 58);
				// 	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
				// 	border-top: 1px solid rgba(255, 255, 255, 0.3);
				// }
			}
			.cit-list:before{
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 5px 5px 5px;
				border-color: transparent transparent rgba(255, 255, 255,0.3) transparent;
				display: block;
				position: absolute;
				top: -6px;
				left: calc(50% - 10px);
			}
		}
	}
}
.navbar{
	.container-fluid{
		//padding-right: 0px;
	}
	.regions{
		position: relative;
		display: inline-block;
		font-size: 12*0.063em;
		color: $color_white_40;
		text-transform: uppercase;
		left:-30px;
		top: -8px;
		span{
			text-transform: uppercase;
			color: $color_green;
			cursor: pointer;
			font-size: 1em;
			border-bottom: 1px dotted;
		}
	}
	.regions:before{
		content: "";
		display: block;
		position: absolute;
		width: 10px;
		height: 14px;
		top: 1px;
		left: -14px;
		background: url('../img/header--pin.png');
	}
	.navigation-top{
		display: inline-block;
		//margin-left: 0px;
		margin-left: -68px;
		top: -8px;
		position: relative;
		li{
			display: inline-block;
			a{
				color: $color_white_40;
				font-size: 12*0.063em;
				text-transform: uppercase;
				margin-left: 7px;
				margin-right: 7px;
				transition: all 0.3s ease;
			}
			a:hover{
				text-decoration: none;
				color: $color_green;
			}
		}
		li.active{
			a{
				color: $color_green;
			}
		}
	}
	.social{
		li{
			display: inline-block;
			margin-left: 4px;
			a{
				display: block;
				width: 23px;
				height: 22px;
				transition: all 0.3s ease;

				svg{
					fill: #676e7e;
					width: 22px;
					height: 22px;
					transition: all 0.3s ease;
				}
			}
			a:hover{
				svg{
					fill:#fff;
				}
			}
			// #tw{
			// 	background-image: url('../img/ico-tw.png');
			// }
			// #ig{
			// 	background-image: url('../img/ico-ig.png');
			// }
			// #vm{
			// 	background-image: url('../img/ico-vm.png');
			// }
			// #fb{
			// 	background-image: url('../img/ico-fb.png');
			// }
		}
	}
	.social--right{
		float: right!important;
		margin-right: 15px;
		top: -8px;
		position: relative;
	}
}

.index--logo{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
}

.content-zone.rating-search{
	.container{
		padding-left: 0px;
		padding-right: 0px;
	}
	h2{
		text-align: center;
		font-family: $font;
		color: #fff;
		margin-top: 45px;
		margin-bottom: -5px;
		text-transform: none;
		font-size: 18*0.063em;
	}
	.actio{
		text-align: center;
		font-style: italic;
		font-weight: 400;
		color: $color_green;
		font-size: 18*0.063em;
		display: block;
		margin-bottom: 35px;
		margin-top: -15px;
		a{
			color: #fff;
			text-decoration: underline;
		}
		a:hover{
			text-decoration: none;
		}
	}
	.star{
		border-top: 1px solid rgba(255,255,255,0.4);
		padding-top: 20px;
		margin-top: 20px;
		p{
			margin-bottom: 3px;
			font-weight: 400;
		}
	}
	.green{
		color: $color_green;
	}
	h2+p{
		text-align: center;
		    margin-top: 10px;
	}
	em{
		color: rgba(255,255,255,0.5);
		font-weight: 400;
		text-align: center;
		a{
			text-decoration: underline;
			color: rgba(255,255,255,0.5);
		}
		a:hover{
			color: $color_green;
		}
	}
	.table{
		th{
			vertical-align: middle;
		}
		th:nth-child(3){
			width: 20%;
		}
		th,td{
			padding-left: 15px;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-right: 15px;
		}
		.find{
			td{
				background: $color_green;
				// border-bottom: 1px solid $color_green;
			}
		}
		tr{
			td:last-child{
				color: $color_green;
			}
		}
	}
	.form{
		margin-top: 50px;
		margin-bottom: -25px;
		input[type="text"]{
			margin-left: 15px;
			width: 200px;
			font-style: italic;
			//margin-top: 15px;
		}
		input[type="submit"]{
			display: inline-block;
			position: absolute;
			background: url('../img/ico-rating-magn.png') top center no-repeat;
			width: 22px;
			height: 22px;
			margin: 0;
			border: none;
			padding: 0;
			margin-left: -50px;
			margin-top: 5px;
		}
		input[type="submit"]:active{
			box-shadow: none;
		}
	}
	.show-more{
		display: inline-block;
		position: relative;
		color: $color_green;
		outline: none;
		margin-bottom: 35px;
	}
	.show-more:hover,.show-more:active,.show-more:visited{
		text-decoration: none;
	}
	.show-more:before{
		content: "";
		display: inline-block;
		position: relative;
		background: url('../img/ico-rating-refresh.png') top left no-repeat;
		width: 30px;
		height: 34px;
		margin-right: 10px;
		top: 10px;
	}
}

@media (max-width: 1200px){
	.social.social--right{
		margin-left: 0px;
		padding-left: 0px;
		margin-right: 0px;
	}
}
@media (max-width: 767px){
	.social.social--right{
		margin-left: 0px;
		padding-left: 30px;
		margin-right: 0px;
	}
}

@media (max-width: 768px){
	.content-zone.rating-search{
		padding-left: 0px;
		padding-right:0px;
		// padding-left: 0px;
		// padding-right: 0px;
		.table{
			// /margin-left: -15px;
			// margin-right: -15px;
			th{
				vertical-align: middle;
				font-size: 13*0.063em;
			}
			th,td{
				text-align: center;

			}
			th,td{
				padding-left: 0px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-right: 0px;
			}
			th:nth-child(3){
			width: 20%;
		}
		}
		.form{
			margin-top: 50px;
			input[type="text"]{
				margin-left: 0px;
				margin-top: 15px;
			}
			input[type="submit"]{
				margin-top: 20px;
			}
		}
	}
}
// Текстовые стили
.content-zone{
	min-height: 300px;
	//width: 100%;
	p{
		font-family: $font;
		font-weight: 600;
		color: #fff;
		font-size: 13*0.063em;
		line-height: 20px;
		margin-bottom: 10px;
	}
	ul,ol{
		padding-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		li{
			font-family: $font;
			font-size: 13*0.063em;
			color: #fff;
			font-weight: 600;
			line-height: 25px;
		}
	}
	.table{
		margin-top: 30px;
		margin-bottom: 30px;
		tr{
			th{
				font-size: 18*0.063em;
				color: #fff;
				font-weight: 600;
				padding-left: 30px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-right: 30px;
				border: 0px;
			}
			td{
				padding-left: 30px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-right: 30px;
				font-size: 13*0.063em;
				color: #fff;
			}
		}
		tr:nth-child(even){
			background: rgba(255, 255, 255, 0.05);
			td{
				border-top: 1px solid #3e4a62;
				border-bottom: 1px solid #3e4a62;
			}
		}
	}
	h1,h2,h3,h4{
		font-family: $fontH1;
		color: $color_green;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	h1{
		font-size: 46*0.063em;
	}
	h2{
		font-size: 38*0.063em;
	}
	h3{
		font-size: 32*0.063em;
	}
	h4{
		font-size: 26*0.063em;
	}

	.center{
		text-align: center;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	.form{
		margin-top: 20px;
		input[type="text"]{
			color: #fff;
			background: #051226;
			border: 1px solid rgba(255, 255, 255, 0.3);
			font-size: 1em;
			font-family: $font;
			padding: 5px 15px;
			width: 240px;
			//margin-left: 15px;
			margin-right: 15px;
			font-weight: normal;
			outline:none;
			margin-bottom: 15px;
		}
		input[type="radio"], input[type="checkbox"]{
			width: 16px;
			height: 16px;
			overflow: hidden;
			margin: 0;
			padding: 0;
			outline: none;
			opacity: 0;
			display: none;
		}
		label{
			display: inline-block;
			text-align: left;
			color: #fff;
			font-size: 1em;
			font-family: $font;
			cursor: pointer;
		    padding:5px 0px 5px 3px;
			span{
				font-weight: normal;
				display: inline-block;
				float: left;
				position: relative;
				padding-left: 30px;
				height: 25px;
			}
		}
		input[type="radio"] + span:before{
			content: "";
			display: inline-block;
			width: 16px;
			height: 16px;
			background: url('../img/sprite--radio-check.png') top left no-repeat;
			position: absolute;
			top: 1px;
			margin-right: 0px;
			left: 6px;
		}
		input[type="radio"]:checked + span:before {
			background-position: -16px 0px;
		}
		input[type="checkbox"] + span:before{
			content: "";
			display: inline-block;
			width: 16px;
			height: 16px;
			background: url('../img/sprite--radio-check.png') bottom left no-repeat;
			position: absolute;
			top: 1px;
			margin-right: 0px;
			left: 6px;
		}
		input[type="checkbox"]:checked + span:before {
			background-position: -16px -16px;
			width: 18px;
		}
	}

	input[type="submit"]{
		background: #4a83c0;
		border: 1px solid #4a83c0;
		border-radius: 5px;
		color: #fff;
		font-size: 17*0.063em;
		font-weight: 400;
		outline:none;
		padding: 7px 26px;
		margin-top: 20px;
	}
	input[type="submit"]:hover{
		background: #3267A0;
		border-color: #3267A0;
	}
	input[type="submit"]:active{
		box-shadow: 0px 2px 5px #1A508A inset;
		border-color: #1A508A;
	}
}
@media (max-width: 768px){
	.content-zone{
		.table{
			margin-top: 30px;
			margin-bottom: 30px;
			tr{
				th,td{
					padding-left: 0px;
					padding-right: 0px;
				}
			}
		}
	}
}


.paralax{
	position: absolute;
	top: 0px;
	width: 100%;
	// margin: 0 auto;
	.right{
		position: absolute;
		right: 0px;
		top: 60px;
		width: 500px;
		height: 500px;
		//background: #eee;
		div{
			position: absolute;
		}

		.top_leaves{
			background: url('../img/pr/top_leaves.png') left top no-repeat;
			width: 320px;
			height: 885px;
			z-index: 4;
			right: 0;
		}
		.mid_leaves{
			background: url('../img/pr/mid_leaves.png') left top no-repeat;
			width: 352px;
			height: 757px;
			z-index: 3;
			top: 452px;
			// margin-right: 20px;
			right: 0;
		}
		.fogs{
			background: url('../img/pr/fog.png') left top no-repeat;
			width: 868px;
			height: 1455px;
			z-index: 2;
			top: 400px;
			right: 0;
		}
		.top_leaves_2{
			background: url('../img/pr/back_leaves_2.png') left top no-repeat;
			width: 311px;
			height: 948px;
			z-index: 1;
			top: 720px;
			right: 0;
		}

		.eye1{
			background: url('../img/pr/eyes_1.png') left top no-repeat;
			width: 311px;
			height: 200px;
			z-index: 1;
			top: 720px;
			right: 100px;
		}
		.eye2{
			background: url('../img/pr/eyes_2.png') left top no-repeat;
			width: 311px;
			height: 200px;
			z-index: 1;
			top: 920px;
			right: 0;
			opacity: 0;
		}
		.bat{
			background: url('../img/bat.png') left top no-repeat;
			width: 237px;
			height: 116px;
			z-index: 1;
			top: 100px;
			right:270px;
			opacity: 1;
		}
	}
	.left{
		position: absolute;
		left: 0;
		top: 41px;
		div{
			position: absolute;
		}

		.tree{
			background: url('../img/p/tree.png') left top no-repeat;
			width: 348px;
			height: 1197px;
			z-index: 4;
			left: 0;
			// transition: all 0.1s ease;
		}
		.branch{
			background: url('../img/p/branch.png') left top no-repeat;
			width: 340px;
			height: 246px;
			z-index: 3;
			margin-left: 90px;
			top:660px;
			// transition: all 0.5s ease;
		}
		.fog{
			background: url('../img/p/fog.png') left top no-repeat;
			width: 766px;
			height: 989px;
			z-index: 2;
			//left: 0px;
			margin-left: 0px;
			top:760px;
		}
		.face{
			background: url('../img/p/face.png') left top no-repeat;
			width: 230px;
			height: 247px;
			z-index: 1;
			margin-left: 190px;
			top:660px;
		}
	}
}

.menu-zone{
	margin-bottom: 25px;
	text-align: center;
	z-index: 999;
	position: relative;

	li:last-child:after{
		display: none;
	}
	li:after{
		content: "";
		display: inline-block;
		position: relative;
		padding-right: 29px;
		//border-bottom: 1px solid #475267;
		//top: 19px;
	}
	li{
		display: inline-block;
		margin-left: -5px;
		border-bottom: 1px solid #475267;
		padding-bottom: 13px;
		a{
			font-size: 15*0.063em;
			color: #fff;
			text-transform: uppercase;
			font-family: $fontLite;
			letter-spacing: 2px;

			text-decoration: none;
			padding-right: 15px;
			padding-bottom: 14px;

			svg{
				width: 32px;
				height: 32px;
				fill: #fff;
				position: relative;
				top: 3px;
				margin-right: 5px;
			}
		}

	}
	.active{
		a{
			color: $color_green;
			border-bottom: 5px solid;
			padding-bottom: 12px;

			svg{
				fill:$color_green;
			}
		}
	}
}

// Зона с квестами на главной странице
.quest-zone{
	position: relative;
	z-index: 90;
	// Фильтрация квестов
	.filter.container{
		text-align: center;
		margin-bottom: 40px;

		ul{
			display: inline-block;
			border: 1px solid rgba(255, 255, 255, 0.22);
			background-color: rgba(255, 255, 255, 0.11);
			padding: 0;
			border-radius: 5px;
			margin-bottom: 0px;

			li{
				display: inline-block;

				a{
					outline: none;
					display: inline-block;
					font-size: 13*0.063em;
					color: rgba(255, 255, 255, 0.70);
					padding: 10px 15px;
				}
				a.active{
					background: rgba(255, 255, 255, 0.15);
					border-radius: 4px;
					color: rgba(0, 255, 171, 0.7);
				}
				a:hover,
				a:active,
				a:focus,
				a:visited{
					text-decoration: none;
				}
			}
		}
	}

	.container{
		padding-left: 0px;
	}
	.row{
		margin:0 auto;
	}
	// Еденичный квест, карточка квеста
	.quest{
		width: 300px;
		text-align: center;
		margin-bottom: 50px;
		position: relative;
		cursor: pointer;

		img{
			width: 100%;
			height: 100%;
			max-height: 417px;
			max-width: 300px;
			border-radius: 6px;
		}

		.inner{
			span,h1,p{
				position: absolute;
				top: 0;
			}
			// Количество человек
			.people{
				top: 25px;
				left: 58px;
				font-size: 18*0.063em;
				color: #fff;
				font-family: $fontH1;
				text-shadow: 0px 1px 1px #666;
			}
			.people:before{
				content: "";
				display: inline-block;
				position: absolute;
				background: url('../img/quest-ico--people.png') left top no-repeat;
				width: 20px;
				height: 15px;
				left: -30px;
				top: 4px;
			}
			// Сложность
			.diff{
				top: 49px;
				left: 58px;
				font-size: 18*0.063em;
				color: #fff;
				font-family: $fontH1;
				text-shadow: 0px 1px 1px #666;
			}
			.diff--child:before{
				content: "";
				display: inline-block;
				position: absolute;
				background: url('../img/quest-ico-diff--child.png') left top no-repeat;
				width: 32px;
				height: 32px;
				left: -35px;
				top: 0px;
			}
			.diff--simple:before{
				content: "";
				display: inline-block;
				position: absolute;
				background: url('../img/quest-ico-diff--simple.png') left top no-repeat;
				width: 32px;
				height: 32px;
				left: -30px;
				top: 0px;
			}
			.diff--hard:before{
				content: "";
				display: inline-block;
				position: absolute;
				background: url('../img/quest-ico-diff--hard.png') left top no-repeat;
				width: 32px;
				height: 32px;
				left: -30px;
				top: 0px;
			}
			// Флаер
			.flaer{
				top: 30px;
				right: 15px;
				background: url('../img/quest-flaer.png') top right no-repeat;
				width: 136px;
				height: 45px;
				color: #000;
				font-family: $fontH1;
				font-size: 1em;
				text-transform: uppercase;
				text-align: center;
				padding-left: 18px;
				padding-top: 7px;
			}
			.with-back{
				position: absolute;
				top: 245px;
				background: rgba(0, 0, 0, 0.4);
				width: 270px;
				height: 175px;
				left:15px;
				//text-align: center;
				// Название
				h1{
					position: relative;
					top: 0px;
					left:15px;
					font-family: $fontH1;
					color: #fff;
					font-size: 28*0.063em;
					text-align: left;
					margin-bottom: 5px;
				}
				// Описание
				p{
					left: 15px;
					padding-right: 30px;
					position: relative;
					font-size: 13*0.063em;
					color: #fff;
					text-align: left;
					height: 55px;
					overflow: hidden;
				}
				// Адрес
				.adress{
					position: relative;
					color: #fff;
					font-size: 13*0.063em;
					font-weight: 400;
					text-align: center;
					display: block;
					margin-bottom: 5px;
					border-top: 1px dotted;
					padding-top: 5px;
				}
				// .adress:before{
				// 	content: "";
				// 	position: absolute;
				// 	display: inline-block;
				// 	background: #fff;
				// 	width: 10px;
				// 	left: 0px;
				// 	top: 9px;
				// 	height:1px;
				// }
				// .adress:after{
				// 	content: "";
				// 	position: absolute;
				// 	display: inline-block;
				// 	background: #fff;
				// 	width: 10px;
				// 	right: 0px;
				// 	top: 9px;
				// 	height:1px;
				// }
				// Телефон
				.phone{
					display: inline-block;
					position: relative;
					color: #fff;
					font-size: 13*0.063em;
					font-weight: 400;
					left: 15px;
					text-align: left;
					float: left;
				}
				// Эл. почта
				.email{
					display: inline-block;
					position: relative;
					color: #fff;
					float: right;
					font-size: 13*0.063em;
					font-weight: 400;
					right: 15px;
					text-align: right;
					a{
						color:#fff;
					}
				}
			}
		}

	}
}
@media (max-width: 1200px){
	.timing-zone{
		.date-choise-desktop{
			margin-left: -15px!important;
			margin-top: -35px;
		}
	}
}
// Расписание квестов
.timing-zone{
	padding-bottom: 90px;
	.content-zone{
		h1{
			color: #fff;
			text-align: center;
			margin-bottom: 10px;
		}
		h4{
			text-align: center;
			margin-top: 30px;
			margin-bottom: 20px;
		}
		p{
			font-weight: normal;
			font-size: 18*0.063em;
			text-align: center;
		}
		.no-padding{
			padding-left: 0px;
			padding-right: 0px;
			margin-left: -15px;
    margin-right: -15px;
		}
		.date-choise-desktop{
			margin-left: 15px;
			margin-right: -15px;
			ul:before{
				content: "";
				position: absolute;
				width: 100%;
				overflow: hidden;
				top: 26px;
				left:0px;
				// border-bottom: 1px solid rgba(255,255,255,0.4);
				border-top: 1px solid rgba(255,255,255,0.4);
			}
			ul:after{
				content: "";
				position: absolute;
				width: 100%;
				overflow: hidden;
				bottom: 2px;
				left:0px;
				border-bottom: 1px solid rgba(255,255,255,0.4);
				// border-top: 1px solid rgba(255,255,255,0.4);
			}
			ul{
				position: relative;
				text-align: center;
				margin-bottom: 30px;
				height: 61px;
				padding-left: 0px;
				    margin-top: 77px;
				li:nth-child(7n),
				li:nth-child(7n-1){
					em{
						color: #fd876d;
					}
				}
				// li:nth-child(6n){
				// 	em{
				// 		color: red;
				// 	}
				// }
				li{
					display: inline-block;
					em{
						display: block;
						font-style: normal;
						font-size: 12*0.063em;
						color: rgba(255,255,255,0.4);
						text-transform: uppercase;
						text-align: center;
					}
					span{
						font-size: 1.375em;
						color: #fff;
						text-transform: uppercase;
						position: relative;
						font-weight: 400;
						display: block;
						width: 35px;
						padding-left: 1px;
						// padding-top: 2px;
						height: 35px;
						text-align: center;
						transition: all .2s;
						cursor: pointer;
						margin-left: -4px;
						padding-top: 4px;
						overflow: hidden;
					}
					span.active{
						color: #011334;
						border-radius: 50%;
						vertical-align: middle;
						background-color: #fff;
						border-radius: 50%;
					}
				}
			}
		}
		table{
			margin-bottom: 30px;
			width: 100%;
			tr:first-child{

				th:last-child{
					border-right: 0px solid #fff;
					padding-right: 15px;
					width: 14%;
					border-radius: 0px 5px 5px 0px;
				}
				th:first-child{
					padding-left: 15px;
					width: 14%;
					border-radius: 5px 0px 0px  5px ;
					span{
						border-left: 1px solid #284380;
					}
				}
			}
			tr:nth-child(even){
				background: transparent;
				td{
					border-top: 0px;
					border-bottom: 0px;
				}
			}
			tr{
				position: relative;
				th{
					width: 12%;
					background: #1f3168;
					text-align: center;
					padding:0;
					margin:0;
					border-spacing: 0px;
					span{
						font-size: 12*0.063em;
						border-right: 1px solid #284380;
						// border-left: 1px solid #fff;
						color: #fff;
						text-transform: uppercase;
						font-weight: 400;
						padding:11px;
						display: block;
						transition: all .2s;

					}
				}
				td{
					color: #fff;
					padding:0;
					text-align: center;

					span{
						font-size: 16*0.063em;
						color: #a4b1d6;
						padding: 6px 0px;
						width: 35px;
						height: 35px;
						display: inline-block;
						cursor: pointer;
						margin: 5px 0;
					}
					span.active{
						color: #011334;
						border-radius: 50%;
						vertical-align: middle;
						background-color: #fff;
						border-radius: 50%;


					}
				}
				td:last-child{
					position: relative;
					left: -7px;
				}
				td:first-child{
					position: relative;
					left: 7px;
				}
			}
		}

		// Акционное время
		.date-sale{
			text-align: center;
			font-size: 13*0.063em;
			color: #fff;
			font-weight: 400;
			margin-bottom: 15px;

			span{
				display: inline-block;
				font-style: normal;
				color: #011334;
				background: $color_green;
				padding:3px 6px;
			}
		}

		// Блоки с расписанием
		.timing-time{
			position: relative;
			margin-top: -5px;
			color: #fff;
			text-align: left;

			.timing-time--item{
				border-top: 1px solid #3e4a62;
				//border-bottom: 1px solid #3e4a62;
				padding-top: 30px;
				// padding-bottom: 30px;
				p{
					text-align: left;
				}
				.name{
					padding-bottom: 40px;
					padding-left: 15px;
					a,a:visited,a:active{
						outline: none;
						color: $color_green;
						text-decoration: underline;
						transition: all 0.3s ease;
					}
					a:hover{
						//opacity: 0.9;
						text-decoration: none;
					}

				}
				.name p{
					font-size: 18*0.063em;
					color:$color_green;
				}
				.time{
					top: -32px;
					padding:0;
					margin-bottom: 0px;
					span{
						margin-top: 8px;
						display: inline-block;
						font-style: normal;
						font-size: 15*0.063em;
						padding:2px 5px;
						cursor: pointer;
						transition: all 0.3s ease;
					}
					span:hover{
						color: $color_green;
					}
					span.bron{
						color: #7d869d;
					}
					span.sale{
						color: #011334;
						background: $color_green;
					}
					span.sale:hover{
						color:$color_green;
						background: transparent;
					}
				}
				.time-morning{
					margin-top: 30px;
					border-top: 1px solid #68b6ff;
					border-bottom: 1px solid #68b6ff;
					padding-bottom: 8px;
					em{
						display: block;
						position: absolute;
						color:#68b6ff;
						top: -22px;
						font-style: normal;
						left: 40%;
					}
				}
				.time-sun{
					margin-top: 30px;
					border-top: 1px solid #faf78f;
					border-bottom: 1px solid #faf78f;
					padding-bottom: 8px;
					em{
						display: block;
						position: absolute;
						color:#faf78f;
						top: -22px;
						font-style: normal;
						left: 40%;
					}
				}
				.time-evening{
					margin-top: 30px;
					border-top: 1px solid #fd876d;
					border-bottom: 1px solid #fd876d;
					padding-bottom: 8px;
					em{
						display: block;
						position: absolute;
						color:#fd876d;
						top: -22px;
						font-style: normal;
						left: 40%;
					}
				}
			}
			.timing-time--item:nth-child(odd){
				background: rgba(255, 255, 255, 0.05);
			}
			.timing-time--item:last-child{
				border-bottom: 1px solid #3e4a62;
			}


		}
	}
}
@media (min-width: 992px){
	.time.col-lg-3 {
	    width:23%!important;
		margin-left: 1%;
		margin-right: 1%;
	}
}
@media (min-width: 768px){
	.time.col-sm-4 {
	    width: 31.33333333%;
	    margin-left: 1%;
		margin-right: 1%;
	}
}

// Расписание на мобильной версии
@media (max-width: 345px) {
	.timing-zone{
		.content-zone{
			table{
				margin-left: -7px;
			}
		}
	}
}
// Расписание на мобильной версии
@media (max-width: 767px) {
	.timing-zone{
		.content-zone{
			h1{
				margin-top: 50px;
			}
			table{
				width: 100%;
				// margin-left: -15px;
				tr:first-child{
					th:last-child{
						border-right: 0px solid #fff;
						padding-right: 0px;
					}
					th:first-child{
						border-right: 0px solid #fff;
						padding-left: 0px;
					}
				}
				td:last-child{
					left: inherit!important;
				}
				td:first-child{
					left: inherit!important;
				}
			}
		}
		.timing-time{
			.timing-time--item{
				.name p{
					text-align: center!important;
					    font-size: 1.4em!important;
					    font-weight: 400;
					    text-decoration: underline;
					// font-family: $fontH1;
					// text-transform: uppercase;
					// letter-spacing: 1px;
				}
				.time{
					margin-bottom: 50px!important;
				}
			}
		}
	}
}


@media (max-width: 680px) {
	img.align-left{
		float: inherit;
		width: 100%;
		//max-width: 250px;
	}
	img.align-right{
		float: inherit;
		width: 100%;
		//max-width: 250px;
	}
}
img.align-left{
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
	margin-top: 15px;
	//max-width: 250px;
}
img.align-right{
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	//max-width: 250px;
}
.text-error{
	font-weight: 400;
	color: #bb3249!important;
	text-shadow: 0px 1px 1px #051C43;
	line-height: 20px;
}

// МОДАЛЬНОЕ ОКНО
#OrderTime{
	padding:0!important;

	.modal-full{
		width: 100%!important;
		margin:0!important;
		min-height: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#123873+0,011334+100 */
		background: #123873; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #123873 0%, #011334 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#123873), color-stop(100%,#011334)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #123873 0%,#011334 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #123873 0%,#011334 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #123873 0%,#011334 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #123873 0%,#011334 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#123873', endColorstr='#011334',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		//Для формы обратной свзяи
		.modal-content.back-form{
			h1{
				margin-bottom: 50px;
			}
			.desc{
				text-align: center;
				margin-bottom: 40px;
			}
			.top{
				padding-bottom: 25px;
				border-bottom: 0px solid rgba(255,255,255,0.4);
			}
			.ordering{
				textarea{
					color: #fff;
					background: #051226;
					border: 1px solid rgba(255, 255, 255, 0.3);
					font-size: 1em;
					font-family: $font;
					padding: 5px 15px;
					width: 514px;
					margin-left: 15px;
					margin-right: 15px;
					font-weight: normal;
					outline:none;
					margin-bottom: 15px;
				}
				input[type="submit"]{
					margin-left: 0px;
				}
			}
		}

		.modal-content{
			background: transparent;
			box-shadow: none;
			border: none;
			color: #fff;
			padding-top: 30px;
			border-radius: 0px;

			.top{
				padding-bottom: 25px;
				border-bottom: 1px solid rgba(255,255,255,0.4);
			}

			// Кнопка закрыть
			.close{
				color: #fff;
				text-shadow: none;
				opacity: 1;
				font-weight: normal;
				border-radius: 50%;
				background: $color_green;
				width: 26px;
				height: 26px;
				position: relative;
				outline: none;
				span{
					color: #011334;
					position: relative;
					left: 1px;
					font-weight: normal;
					text-shadow: none;
				}
				em{
					position: absolute;
					left: 36px;
					top: 4.5px;
					font-size: 0.875em;
					font-family: $fontH1;
					font-style: normal;
					text-shadow: none;
					text-transform: uppercase;
				}
			}
			.tizer{
				img{
					width: 100%;
					margin-bottom: 25px;
				}
			}

			h1{
				text-align: center;
				font-family: $fontH1;
				font-size: 46*0.063em;
				color: $color_green;
				text-transform: uppercase;
				margin-top: 75px;
				margin-bottom: 70px;

			}
			h2{
				font-size: 37*0.063em;
				line-height: 45px;
				color: #fff;
				font-family: $fontH1;
				margin-top: 0px;
				text-transform: uppercase;
			    margin-bottom: 20px;
			    text-shadow: 1px 0px 2px #000;
				img{
					margin-right: 15px;
				}
			}
			p{
				font-weight: 600;
				font-size: 13*0.063em;
				line-height: 20px;
			}
			p.icon{
				font-weight: normal;
				margin-top: 15px;
				margin-bottom: 50px;
				span{
					display: inline-block;
					font-family: $fontH1;
					text-shadow: 1px 0px 2px #000;
					font-size: 1.375em;
					text-transform: uppercase;
					font-weight: normal;
					margin-right: 25px;
				}
				.people:before{
					content: "";
					display: inline-block;
					background: url('../img/quest-ico--people.png') left top no-repeat;
					width: 20px;
					height: 15px;
					margin-right: 10px;
				}
				.diff:before{
					content: "";
					display: inline-block;
					width: 20px;
					height: 20px;
					margin-right: 10px;
				}
				.diff--hard:before{
					background: url('../img/quest-ico-diff--hard.png') left top no-repeat;
				}
				.diff--child:before{
					background: url('../img/quest-ico-diff--hard.png') left top no-repeat;
				}
				.diff--simple:before{
					background: url('../img/quest-ico-diff--simple.png') left top no-repeat;
				}
				.timer:before{
					content: "";
					display: inline-block;
					width: 22px;
					height: 22px;
					background: url('../img/quest-ico--time.png') left center no-repeat;
					margin-right: 10px;
					background-size: 22px;
					position: relative;
					top: 2px;

				}
			}

			.date, .price{
				font-family: $fontH1;
				font-size: 16*0.063em;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 1px;
				span{
					color: $color_green;
				}
			}
		}



		.ordering{
			h3{
				font-size: 32*0.063em;
				text-shadow: 1px 0px 2px #000;
				color: #fff;
				text-align: center;
				font-family: $fontH1;
				text-transform: uppercase;
				margin-top: 40px;
				margin-bottom: 30px;
			}
			form{
				text-align: center;
				padding-bottom: 150px;

				.submit{
					border-top: 1px solid rgba(255,255,255,0.4);
					padding-top: 20px;
					margin-top: 0px;
					width: 70%;
					margin: 0 auto;
					label{
						margin-right: 30px;
						cursor: default;
						font-size: 1.3em;
						font-weight: normal;
						color: $color_green;
						letter-spacing: 1px;
						font-family: $fontH1;
						// width: 165px;
						text-align: right;
						position: relative;
						top: 10px;
						margin-bottom: 15px;

						span{
							float: inherit;
							padding-left: 10px;
							font-size: 34px;
						}
					}
				}
				input.error{
					border-color: red!important;
				}

				input[type="submit"]{
					background: #4a83c0;
					border: 1px solid #4a83c0;
					border-radius: 5px;
					color: #fff;
					font-size: 17*0.063em;
					font-weight: 600;
					outline:none;
					padding: 8px 29px;
					margin-top: 20px;
					margin-left: 20px;
				}
				input[type="submit"]:hover{
					background: #3267A0;
					border-color: #3267A0;
				}
				input[type="submit"]:active{
					box-shadow: 0px 2px 5px #1A508A inset;
					border-color: #1A508A;
				}

				input[type="text"]{
					color: #fff;
					background: #051226;
					border: 1px solid rgba(255, 255, 255, 0.3);
					font-size: 1em;
					font-family: $font;
					padding: 5px 15px;
					width: 240px;
					margin-left: 15px;
					margin-right: 15px;
					font-weight: normal;
					outline:none;
					margin-bottom: 15px;
				}

				input[type="radio"]{
					width: 16px;
					height: 16px;
					overflow: hidden;
					margin: 0;
					padding: 0;
					outline: none;
					opacity: 0;
					display: none;
				}
				label{
					display: inline-block;
					text-align: left;
					color: #fff;
					font-size: 1em;
					font-family: $font;
					cursor: pointer;
				    padding:5px 0px 5px 3px;
					margin-left: 15px;
					margin-right: 15px;
					span{
						font-weight: normal;
						display: inline-block;
						float: left;
						position: relative;
						padding-left: 30px;
						height: 25px;

					}
				}
				input[type="radio"] + span:before{
					content: "";
					display: inline-block;
					width: 16px;
					height: 16px;
					background: url('../img/sprite--radio-check.png') top left no-repeat;
					position: absolute;
					top: 1px;
					margin-right: 0px;
					left: 6px;
				}
				input[type="radio"]:checked + span:before {
					background-position: -16px 0px;
				}
			}
		}

	}
}
@media (max-width: 1067px) {
	#OrderTime{
		.modal-full{
			.modal-content{
				// Кнопка закрыть
				.close{
					span{
					}
					em{
						visibility: hidden;
					}
				}
			}
		}
	}
}
@media (max-width: 960px) {
	#OrderTime{
		.modal-full{
			.modal-content{
				padding-top: 30px;
				h1{
					margin-bottom: 30px;
					margin-top: 55px;
				}
				div{
					padding: 0;
				}
				.ordering{
					form{
						.submit{
							width: 100%;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 560px) {
	#OrderTime{
		.modal-full{
		.modal-content.back-form{
			.ordering{
				// margin-left: 15px;
				// padding-right: 0px;
				// margin-right: -15px;
				textarea{
					width: 240px;
					margin-left: 15px;
					margin-right: 15px;
				}
			}
		}
	}
}
}
@media (max-width: 500px) {
	#OrderTime{
		.modal-full{
			.modal-content{
				.ordering{
					h3{
						text-align: left;
					}
					form{
						text-align: left;
						.submit{
						}
					}
				}
			}
		}
	}
}


/********************************************************
	ОДИН КВЕСТ
**/
.page--one{
	.index--logo{
		position: absolute;
		z-index: 50;
		margin: 40px auto 0 auto;
		width: 100%;
		.back{
			position: absolute;
			left: 13vw;
			top: 10px;
			outline: none;
		}
	}
	.slider{
		margin-bottom: 50px;
		#big-quest{
			.owl-buttons{
		    	//position: absolute;
		    	top: 0px;
		    	width: 100%;
		    	height: 100%;
		    	//z-index: 60;

		    	.owl-prev{
					font-size:0px;
					position: absolute;
					cursor: pointer;
					display: inline-block;
					background: url('../img/arrow-left.png') top left no-repeat;
					width:27px;
					height: 77px;
					left: 100px;
					top: calc(50% - 77px);
		    	}
		    	.owl-next{
					font-size:0px;
					position: absolute;
					cursor: pointer;
					display: inline-block;
					background: url('../img/arrow-right.png') top right no-repeat;
					width:27px;
					height: 77px;
					right: 100px;
					top: calc(50% - 77px);
		    	}
		    }
		}
		#big-quest .item img{
		    display: block;
		    width: 100%;
		    height: auto;
		}
	}
	.timing-zone{
		h1{
			font-size: 57*0.063em;
			color: $color_green;
		}
		.period{
			margin-bottom: 30px;
		}
		.timing-time--item{
			.name{
				p{
					margin-bottom: 5px;
				}
				span{
					font-size: 13*0.063em;
					color: #7d869d;
				}
			}
		}
		.for-mobile.ordering{
			p{
				font-size:14*0.063em;
			}
			.date{
				font-family: $fontH1;
				font-size:14*0.063em;
				color: #fff;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin-bottom: 5px;
				span{
					color: $color_green;
				}
			}
			.price{
				font-family: $fontH1;
				font-size:14*0.063em;
				color: #fff;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin-bottom: 5px;
				span{
					color: $color_green;
				}
			}
			h3{
				font-size: 24*0.063em;
				text-shadow: 1px 0px 2px #000;
				color: #fff;
				text-align: left;
				font-family: $fontH1;
				text-transform: uppercase;
				margin-top: 40px;
				margin-bottom: 30px;
			}
			form{
				text-align: left;
				padding-bottom: 150px;

				.submit{
					border-top: 1px solid rgba(255,255,255,0.4);
					padding-top: 20px;
					margin-top: 0px;
					label{
						display: block;
						margin-right: 30px;
						cursor: default;
						font-size: 1.3em;
						font-weight: normal;
						color: $color_green;
						letter-spacing: 1px;
						font-family: $fontH1;
						// width: 165px;
						text-align: left;
						position: relative;
						top: 10px;
						margin-bottom: 15px;

						span{
							float: inherit;
							padding-left: 10px;
							font-size: 34px;
						}
					}
				}

				input.error{
					border-color: red!important;
				}

				select{
					color: #fff;
					background: #051226;
					border: 1px solid rgba(255, 255, 255, 0.3);
					font-size: 14*0.063em;
					font-family: $font;
					padding: 5px 15px;
					width: 240px;
					// margin-left: 15px;
					margin-right: 15px;
					font-weight: normal;
					outline:none;
					margin-bottom: 15px;
					height: 32px;
				    border-radius: 0px!important;
				    option{
				    	outline: none;
				    }
				}

				input[type="submit"]{
					background: #4a83c0;
					border: 1px solid #4a83c0;
					border-radius: 5px;
					color: #fff;
					font-size: 1em;
					font-weight: 600;
					outline:none;
					padding: 8px 29px;
					margin-top: 20px;
					// margin-left: 20px;
				}
				input[type="submit"]:hover{
					background: #3267A0;
					border-color: #3267A0;
				}
				input[type="submit"]:active{
					box-shadow: 0px 2px 5px #1A508A inset;
					border-color: #1A508A;
				}

				input[type="text"]{
					color: #fff;
					background: #051226;
					border: 1px solid rgba(255, 255, 255, 0.3);
					font-size: 1em;
					font-family: $font;
					padding: 5px 15px;
					width: 240px;
					// margin-left: 15px;
					margin-right: 15px;
					font-weight: normal;
					outline:none;
					margin-bottom: 15px;
				}

				input[type="radio"]{
					width: 16px;
					height: 16px;
					overflow: hidden;
					margin: 0;
					padding: 0;
					outline: none;
					opacity: 0;
					display: none;
				}
				label{
					display: block;
					height: 30px;
					text-align: left;
					color: #fff;
					font-size: 1em;
					font-family: $font;
					cursor: pointer;
				    padding:5px 0px 5px 3px;
					// margin-left: 15px;
					margin-right: 15px;
					span{
						font-weight: normal;
						display: inline-block;
						float: left;
						position: relative;
						padding-left: 30px;
						height: 25px;

					}
				}
				input[type="radio"] + span:before{
					content: "";
					display: inline-block;
					width: 16px;
					height: 16px;
					background: url('../img/sprite--radio-check.png') top left no-repeat;
					position: absolute;
					top: 1px;
					margin-right: 0px;
					left: 6px;
				}
				input[type="radio"]:checked + span:before {
					background-position: -16px 0px;
				}
			}
		}
	}
}

.quest--info{
	margin-top: -400px;
	text-shadow:0px 1px 1px #000;
	padding-bottom: 160px;

	.contact{
		float: right;
		padding-left: 0px;
		ul{
			padding-left: 15px;
		}
		li{
			color: #fff;
			font-size: 14*0.063em;
			list-style-type: none;
			margin-bottom: 4px;

			a{
				color: $color_green;
				text-decoration: none;
				border-bottom: 1px dotted;
			}
		}
		.where:before{
			content: "";
			position: relative;
			top: 6px;
			margin-right: 10px;
			display: inline-block;
			width: 25px;
			height: 26px;
			background: url('../img/ico-where.png') center center no-repeat;

		}
		.phone:before{
			content: "";
			position: relative;
			top: 6px;
			margin-right: 10px;
			display: inline-block;
			width: 25px;
			height: 25px;
			background: url('../img/ico-phone.png') center center no-repeat;

		}
		.email:before{
			content: "";
			position: relative;
			top: 6px;
			margin-right: 10px;
			display: inline-block;
			width: 25px;
			height: 25px;
			background: url('../img/ico-email.png') center center no-repeat;

		}
	}
		p.icon{
			color: #fff;
			font-weight: normal;
			margin-top: 15px;
			margin-bottom: 30px;
			span{
				display: inline-block;
				font-family: $fontH1;
				text-shadow: 1px 0px 2px #000;
				font-size: 1.375em;
				text-transform: uppercase;
				font-weight: normal;
				margin-right: 25px;
			}
			.people:before{
				content: "";
				display: inline-block;
				background: url('../img/quest-ico--people.png') left top no-repeat;
				width: 20px;
				height: 15px;
				margin-right: 10px;
			}
			.diff:before{
				content: "";
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-right: 10px;
			}
			.diff--hard:before{
				background: url('../img/quest-ico-diff--hard.png') left top no-repeat;
			}
			.diff--child:before{
				width: 30px;
				background: url('../img/quest-ico-diff--child.png') left top no-repeat;
			}
			.diff--simple:before{
				width: 22px;
				background: url('../img/quest-ico-diff--simple.png') left top no-repeat;
			}
			.timer:before{
				content: "";
				display: inline-block;
				width: 22px;
				height: 22px;
				background: url('../img/quest-ico--time.png') left center no-repeat;
				margin-right: 10px;
				background-size: 22px;
				position: relative;
				top: 2px;

			}
		}
	.description{
		float:left;
		h2{
			font-size: 56*0.063em;
			line-height: 45px;
			color: #fff;
			font-family: $fontH1;
			margin-top: 0px;
			text-transform: uppercase;
		    margin-bottom: 20px;
		    text-shadow: 1px 0px 2px #000;
			img{
				margin-right: 15px;
			}
		}
		p{
			font-weight: 600;
			font-size: 16*0.063em;
			line-height: 24px;
			color: #fff;
		}
	}
}

@media (max-width: 992px){
	.page--one{
		.timing-zone h1{
			    margin-top: 50px;
			    text-align: left;
		}
		.timing-zone{
			.content-zone p{
				text-align: left!important;
			}
			.date-sale{
				text-align: left;
				margin-left: 0px;
				padding-left: 0px!important;
			}
			.period{
				text-align: left!important;
				h1{
					font-size: 28*0.063em;
				}
				p{
					font-size: 15*0.063em;
				}
			}
		}
	}
	.slider{
		margin-bottom: 15px!important;
	}
	.quest--info{
		margin-top: 0px;
		padding-bottom: 0px;
		margin-bottom: -50px;
		display: table;
		.description{
			display: table-row-group;
			//float: left;
			p{
				font-weight: normal;
			}
			padding-left: 0px;
			padding-right: 0px;
			h2{
				font-size: 24*0.063em;
				line-height: 32px;
				img{
					float: left;
					top: 4px;
					position: relative;
				}
			}
		}
		.contact{
			display: table-header-group;
			border-bottom: 1px solid rgba(255,255,255,0.4);
			margin-bottom: 25px;
			float: left;
			padding-left: 0px;
			padding-right: 0px;
			ul{
				padding-left: 0px;
				li{
					display: inline-block;
					margin-right: 15px;
				}
				li+li{
				}
			}
		}
		.icons{
			display: table-footer-group;
			// float: left;
			.icon{
				span{
					display: block;
					font-size: 16*0.063em;
				}
				border-bottom: 1px solid rgba(255,255,255,0.4);
				padding-bottom: 20px;
			}
		}
	}
}

@media (max-width: 767px) {
	.page--one{
		.slider{
			margin-top: 33px;
		}
	}
	.page--one .slider #big-quest .owl-buttons{
		visibility: hidden;
	}
	.quest--info{
		.description{
			//float: left;
			padding-left: 0px;
			padding-right: 0px;
			h2{
				font-size: 24*0.063em;
				line-height: 32px;
				img{
					float: left;
					top: 4px;
					position: relative;
				}
			}
		}
		.contact{
			float: left;
			padding-left: 0px;
			padding-right: 0px;
			ul{
				padding-left: 0px;
				li{
					//display: inline-block;
				}
				li+li{
					//margin-left: 20px;
				}
			}
		}
	}
}
@media (max-width: 1439px) {
	.page--one .slider #big-quest .owl-buttons .owl-prev{
		left: 15px;
	}
	.page--one .slider #big-quest .owl-buttons .owl-next{
		right: 15px;
	}
}
/*
*********************************************************/


/********************************************************
// Победители
*/
.winners-zone{
	padding-bottom: 90px;
	// min-height: 910px;
	.content-zone{
		h1{
			color: #fff;
			text-align: center;
			margin-bottom:25px;
		}
		h4{
			text-align: center;
			margin-top: 30px;
			margin-bottom: 20px;
		}
		p{
			font-weight: normal;
			font-size: 18*0.063em;
			text-align: center;
		}
		form{
			text-align: center;
			font-weight: normal;
			font-size: 13*0.063em;
			text-align: center;
			color: #fff;

			span{
				display: inline-block;
				margin-bottom: 15px;
				margin-right: 10px;

			}
		}

		.select{
			color: #fff;
			background: #051226;
			border: 1px solid rgba(255, 255, 255, 0.3);
			font-size: 1em;
			font-family: $font;
			padding: 5px 15px;
			width: 240px;
			//margin-left: 15px;
			margin-right: 15px;
			font-weight: normal;
			outline:none;
			top: 0px;
			overflow: hidden;		/* Кнопка будет находиться за пределами "обертки" */
			display: inline-block;
			position: relative;
			vertical-align: middle;

			select{
				width: 260px;
				font-family: $font;
				border: none;
				display: inline-block;
				height: 22px;		/* Меньше, чем рисованная "кнопочка" на ширину нужного border'а */
				line-height: 22px;
				position: relative;		/* Это нужно, чтобы работал z-index */
				background: transparent;
				-webkit-appearance: none;
				appearance: none;
				z-index: 10;
				text-overflow: '';
				outline: none;
			}
		}
		.select-v{
			background: url('../img/select-v.png') center center no-repeat;
			height: 24px;		/* Размеры подготовленной картинки */
			width: 24px;
			position: absolute;		/* Размещаем объект по правому краю */
			right: 0;
			top: 5px;
			bottom: 0;
			z-index: 50;
		}

	}
}

@media (max-width: 767px) {
	.winners-zone{
		.content-zone{
			h1{
				margin-top: 50px;
			}

			form{
				//text-align: left;
				span{
					//text-align: left;
					padding-left: 0px;
				}
			}
		}
	}
}

#big-map{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	//background: #eee;
	//opacity: 0.8;
	z-index: 0;
}
.page--map{
	.header-top,.index--logo{
		position: relative;
		z-index: 2;
	}
	.header-top{
		background: #010c26;
	    background: -moz-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%);
	    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #010c26), color-stop(35%, #011130), color-stop(65%, #011130), color-stop(100%, #010a1d));
	    background: -webkit-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%);
	    background: -o-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%);
	    background: -ms-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%);
	    background: linear-gradient(to right, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#010c26', endColorstr='#010a1d',GradientType=1 );
	}
	.menu-zone ul:before {
	    content: "";     display: block;
	    width: 800px;     height: 100px;
	    position: absolute;          background: #010c26;     background: -moz-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%);     background: -webkit-gradient(linear, left top, right top, color-stop(0%, #010c26), color-stop(35%, #011130), color-stop(65%, #011130), color-stop(100%, #010a1d));     background: -webkit-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%);     background: -o-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%);     background: -ms-linear-gradient(left, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%);     background: linear-gradient(to right, #010c26 0%, #011130 35%, #011130 65%, #010a1d 100%);     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#010c26', endColorstr='#010a1d',GradientType=1 );
	    z-index: -1;
	    left: calc(50% - 390px);
	    top: -17px;
	    opacity: 0.8;
	    border-radius: 10px;
	}
}
@media (max-width: 767px) {
	.page--map{
		.header-top{
			height: 70px;
		}
	}
}


.contact-zone{
	min-height: 770px;
	.content-zone{

		min-height: initial;
		h1{
			text-align: center;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2{
			font-size: 26*0.063em;
			text-transform: none;
			font-family: $font;
			font-weight: 600;
			text-align: center;
			margin-top: 0px;
		}
	}
}
.contact-zone--map{
	height: 345px;
	width: 100%;
}
.contact-zone--contacts{
	h2{
		text-align: center;
		font-family: $font;
		font-size: 28*0.063em;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		font-weight: 600;
		position: absolute;
		width: calc(100% - 15px);
		z-index: 5;
		text-transform: uppercase;
	}
	.info{
		color: #fff;
		background: rgba(255, 255, 255, 0.11);
		margin-top: 30px;
		margin-bottom: 60px;
		padding-bottom: 30px;
		padding-left: 5px;

		h3{
			color: #7d869d;
			font-size: 13*0.063em;
			font-weight: 600;
			margin-bottom: 20px;
		}

		.backf{
			color: $color_green;
			font-size: 14*0.063em;
			display: inline-block;
			outline: none;
		}
		.backf:before{
			content: "";
			display: inline-block;
			position: relative;
			width: 25px;
			height: 25px;
			top: 10px;
			margin-right: 5px;
			background: url('../img/ico-speach.png') left top no-repeat;
		}
		.backf:hover,.backf:visited,.backf:active{
			text-decoration: none;
			outline: none;
		}

		p{
			font-size: 16*0.063em;
			line-height: 22px;
			color: #fff;
			margin-bottom: 2px;
			span{
				color: #acacac;
				font-weight: 600;
			}
			span.red{
				color: #bb3249;
				font-weight: 600;
			}
			em{
				font-style: normal;
				color: $color_green;
			}
		}

	}
}

.info-ur{
	h2{
		color: #fff;
		font-size: 22*0.063em;
		font-weight: 600;
		margin-bottom: 15px;
	}
	p{
		color: #fff;
		font-weight: normal;
		font-size: 13*0.063em;
		line-height: 20px;
		margin-bottom: 20px;
	}

	.row{
		color: #fff;
		font-size: 13*0.063em;
		margin-bottom: 2px;

		.col-lg-5, .col-lg-12{
			color: #7d869d;
			overflow: hidden;
		}
		.col-lg-5:after{
			content: "";
			display: inline-block;
			width: 100%;
			border-bottom: 1px dotted;
			position: absolute;
			top: 16px;
			overflow: hidden;
			margin-left: 3px;
		}
		.col-lg-7{
			//margin-left: 12px;
		    padding-left: 3px;
		}
	}
}
@media (max-width: 991px) {
	.info-ur{
		.row{
			margin-bottom: 10px;
			.col-lg-5:after{
				display: none;
			}
			.col-lg-7{
				margin-left: 12px;
			    padding-left: 3px;
			}
		}
	}
}
.winners-box{
	padding-top: 30px;
	margin-left: -15px;
	margin-right: -15px;
}
.winners-box--item{
	margin-bottom: 30px;
	text-align: center;

	img{width: 100%;max-width: 400px;margin-bottom: 15px;}

	.text{
		text-align: left;
		width: 100%;
		max-width: 400px;
		margin:0 auto;
		margin-bottom: 20px;

		p{
			text-align: left;

			span{
				font-family: $fontH1;
				font-style: 16*0.063em;
				letter-spacing: 1px;
			}
		}

		.time:before{
			content: "";
			display: inline-block;
			background: url('../img/quest-ico--time.png') top left no-repeat;
			width: 25px;
			height: 25px;
			position: relative;
			top:5px;
			margin-right: 10px;

		}
		.date:before{
			content: "";
			display: inline-block;
			background: url('../img/ico-cal.png') top left no-repeat;
			width: 25px;
			height: 25px;
			position: relative;
			top:5px;
			margin-right: 10px;

		}

		.share{
			float: right;
			font-size: 12*0.063em;
			color: #fff;
			img{
				width: initial!important;
			}
		}
	}
}

/*
******************************************************/

.mobile-h1{
	h1{
		margin-top: 50px;
		margin-bottom: 20px;
		text-align: center;
		font-size: 46*0.063em;
		color: #fff;
		font-family: $fontH1;
		text-transform: uppercase;
	}
}


// Дополнительные стили для опроса
.content-zone--questions{
	text-align: center;
	h1{
		margin-top: 50px;
		font-size: 46*0.063em;
		color: $color_green;
		font-family: $fontH1;
		text-transform: uppercase;
		margin-bottom: 60px;
	}
	h2{
		font-size: 46*0.063em;
		color: #fff;
		font-weight: bold;
		margin-bottom: 15px;
	}
	p{
		margin:0 auto;
		width: 80%;
		margin-bottom: 30px;
	}
	// text-align: center;
	.answer{
		position: relative;
		left: -10px;
		display: inline-block;
		margin:0 auto;
		padding-bottom: 40px;
		// width: 100%;
		text-align: center;
		label{
			display: inline-block;
			width: 100%;
		}

	}
	.answer-2{
		column-count: 2;
		-webkit-column-count: 2;
		-webkit-column-width: 100px;
		-moz-column-count: 2;
		-webkit-column-gap:1em;
		-moz-column-gap:1em;
		text-align: left;
		vertical-align: top;

		// span{
		// 	margin-bottom: 20px;
		// }

		label{
			display: block;
			    min-height: 20px;
			width: 100%;
		}
	}

	label{
		margin-bottom: 10px;
	}

	input[type="radio"]{
		width: 16px;
		height: 16px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		outline: none;
		opacity: 0;
		display: none;
	}
	label{
		display: inline-block;
		text-align: left;
		color: #fff;
		font-size: 13*0.063em;
		font-family: $font;
		cursor: pointer;
		span{
			font-weight: normal;
			display: inline-block;
			float: left;
			position: relative;
			padding-left: 30px;
			height: 25px;

		}
	}
	input[type="radio"] + span:before{
		content: "";
		display: inline-block;
		width: 16px;
		height: 16px;
		background: url('../img/sprite--radio-check.png') top left no-repeat;
		position: absolute;
		top: 1px;
		margin-right: 0px;
		left: 6px;
	}
	input[type="radio"]:checked + span:before {
		background-position: -16px 0px;
	}

	.send{
		margin-top: 0px;
	}
}

// Опрос на мобильной версии при схлопывании бутерброда
@media (max-width: 960px) {
	.content-zone--questions{
		.answer-2{
			column-count: inherit!important;
			-webkit-column-count: inherit!important;
			-webkit-column-width: inherit!important;
			-moz-column-count: inherit!important;
			-webkit-column-gap: inherit!important;
			-moz-column-gap: inherit!important;
			text-align: left;
			vertical-align: top;
		}
		label {
			span{
				float: inherit!important;
			}
		}
	}
}

// Контентная часть главной станицы
.content-zone--index{
	margin-top: 100px;
	position: relative;
	z-index: 99;
	h1{
		font-size: 46*0.063em;
		color: $color_green;
		text-transform: uppercase;
		font-family: $fontH1;
		position: relative;
		z-index: 2;
		margin-bottom: 20px;
	}
	h2{
		position: absolute;
		top: -50px;
		left: -22px;
		z-index: 1;
		font-size: 80*0.063em;
		text-transform: uppercase;
		font-family: $fontH1;
		color: #131e31;
	}
	p{
		border-left: 1px solid $color_green;
		font-size: 13*0.063em;
		color:#fff;
		padding-left: 20px;
		margin-left: 30px;
		line-height: 20px;
		position: relative;
		z-index: 9;
	}
}

footer{
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 13*0.063em;
	color: $color-footer--text;
	z-index: 2;
	position: relative;

	.fog-1{
		background: url("../img/footer-fog1.png") center 197px no-repeat;
		width: 100%;
		height: 418px;
		position: absolute;
		z-index: 3;
	}
	.fog-2{
		background: url("../img/footer-fog2.png") bottom center no-repeat;
		width: 100%;
		height: 418px;
		position: absolute;
		z-index: 2;
	}

	.safe{
		background: url('../img/safe.png') top center no-repeat;
		width: 268px;
		height: 306px;
		position: absolute;
		z-index: 1;
	    left: 67%;
	        top: 80px;
	}

	.container{
		position: relative;
		z-index: 4;
		top: 362px;
	}

	a,
	a:hover,
	a:active{
		color: $color-link;
	}
	.shared{
		text-transform: uppercase;
		position: relative;
		top: -30px;
		color:#000a0a;
		text-align: center;
		.span{
			display: block;
		}
	}
}

@media (max-width: 767px) {
	.mini-logo{
		display: inline-block!important;
	}
	.header-top{
		border:none;
	}
	.menu-zone{
		position: fixed;
		bottom: 0px;
		z-index: 999;
		width: 100%;
		margin-bottom: 0px;
		text-align: center;
		background: #000f2a;

		ul{
			padding-top: 10px;
			margin-left: 0px;
			padding-left: 15px;
			padding-bottom: 10px;
			margin-bottom: 0px;
			padding-right: 15px;
		}
		li:last-child:after{
			display: none;
		}
		li:after{
			content: "";
			display: inline-block;
			position: relative;
			padding-right: 0px;
			//border-bottom: 1px solid #475267;
			//top: 19px;
		}
		li{
			display: inline-block;
			vertical-align: top;
			margin-left: -5px;
			border-bottom: 0px solid #475267;
			padding-bottom: 0px;
			width: 25%;
			a{
				display: inline-block;
				font-size: 0;
				color: #fff;
				text-transform: uppercase;
				font-family: $fontLite;
				letter-spacing: 2px;
				outline: none;
				text-decoration: none;
				padding-right: 0px;
				padding-bottom:0px;

				svg{
					fill:rgba(255,255,255,0.4);
				}
			}

		}
		.active{
			a{
				color: $color_green;
				border-bottom: 0px solid;
				padding-bottom: 0px;
			}
		}
	}

	// Фильтрация на мобилке
	.quest-zone{
		padding-left: 10px;
		.filter--text{
			font-size: 13*0.063em;
			color: rgba(255, 255, 255, 0.50);
			top: 7px;
			position: relative;
		}
		.filter.container{
			padding-left: 15px;
			margin-top: 37px;
			text-align: left;

			ul{
				display: inline-block;
				border: 0px solid rgba(255, 255, 255, 0.22);
				background-color: transparent;
				padding: 0;
				border-radius: 0px;
				margin-bottom: 0px;
				right: 15px;
				position: absolute;
				z-index: 99;

				.select{
					display: block;
					background: #1b1836;
					border: 1px solid #374969;
					font-size: 13*0.063em;
					color: rgba(255, 255, 255, 0.50);
					padding: 8px 10px;
					width: 130px;
					position: relative;
					cursor: pointer;
				}
				.select:after{
					content: "";
					background: url('../img/select-v.png') top right no-repeat;
					width: 7px;
					height: 4px;
					display: inline-block;
					position: absolute;
					right: 11px;
					top: 18px;
				}

				li{
					display: none;
					list-style-type: none;
					//display: block;
					background: #1b1836;
					a{
						outline: none;
						display: inline-block;
						font-size: 13*0.063em;
						color: transparent;
						padding: 10px 15px;
						color: rgba(255, 255, 255, 0.50);
					}
					a.active{
						background: transparent;
						border-radius: 4px;
						color: rgba(0, 255, 171, 0.7);
					}
					a:hover,
					a:active,
					a:focus,
					a:visited{
						text-decoration: none;
					}
				}
			}
		}
	}

	//Меню при схлопывании
	.navbar{
		#navbar{
			padding-bottom: 300px;
		}
		.container-fluid{
			//padding-right: 0px;
		}
		.regions{
			position: absolute;
			display: block;
			text-align: center;
			font-size: 0.875em;
			width: 100% !important;
			height: 20px;
			left: 0px;
			top: initial;
			bottom: 380px;
			z-index: 2;
			color: rgba(255, 255, 255, 0.4);
			text-transform: uppercase;
			span{
				text-transform: uppercase;
				color: $color_green;
				cursor: pointer;
				font-size: 1em;
				border-bottom: 1px dotted;
			}

			.cit-list{
				    left: calc(50% - 60px);
    top: 28px!important;
			}
		}
		.regions:before{
			content: "";
			display: block;
			position: absolute;
			width: 10px;
			height: 14px;
			top: 1px;
			left: -14px;
			background: url('../img/header--pin.png');
		}

		.regions{

		}
		.social.social--right{
			text-align: center;
			width: 100%;
		}

		.navbar-collapse{
			background-color: #1b1836;
			z-index: 9999;
			position: relative;
			margin-left: -30px!important;
		}
		.navigation-top{
			display: inline-block;
			margin-left: 0px;
			// margin-right: -15px;
			padding-left: 0px;
			padding-top: 15px;
		    padding-bottom: 40px;
			top: -8px;
			position: relative;
			width: 100%;
			li{
				display: block;
				padding-bottom: 10px;
				padding-top: 10px;
				text-align: center;
				// border-top: 1px solid rgba(255,255,255,0.4);
				border-bottom: 1px solid rgba(255,255,255,0.4);
				a{
					color: $color_white_40;
					font-size: 18*0.063em;
					text-transform: uppercase;
					margin-left: 15px;
					margin-right: 15px;
					transition: all 0.3s ease;
				}
				a:hover{
					text-decoration: none;
					color: $color_green;
				}
			}
		}
		.social{
			margin-left: -30px;
			margin-top: 10px;
			li{
				display: inline-block;
				margin-right: 15px;
				a{
					display: block;
					width: 23px;
					height: 22px;
					background-position: center center;

					svg{
						fill:#8d8c9b;
					}
				}
				#tw{
					svg{
						width: 35px;
						height: 35px;
					}
				}
				#ig{
					svg{
						width: 35px;
						height: 35px;
					}
				}
				#vm{
					svg{
						width: 35px;
						height: 35px;
					}
				}
				#fb{
					svg{
						width: 35px;
						height: 35px;
					}
				}
			}
		}
		.social--right{
			float: right!important;
			margin-right: 15px;
			top: -8px;
			position: relative;
		}
	}
	.page--index{
		footer{
			margin-bottom: 435px;
		}
	}
}

@media (min-width: 768px) {
	.quest-zone .filter.container ul li {
	    display: inline-block!important;
	}
	.quest-zone .filter.container ul li.select{
		display: none!important;
	}
}
